# Come to brazil
### Data Engineering Capstone Project

#### Project Summary
Brazil is a continentallly sized country, both in terms of geographic size and population. The mercator projection, presented by Flemish geographer and cartographer Gerardus Mercator in 1569 was created long before modern cartographic techniques were developed. South america is larger in size than western europe, and individual brazilian states are larger in both size and population than the largest western european countries, like france and germany. Even as a poor country, the sheer potential in numbers amongst the upper economic echelons of the brazilian population make it a very interesting commercial study subject. That, coupled with a virtual 100% import tariff more than doubling commodity prices natively, and a habit of smuggling goods by both brazilian travelers and brazilian immigrants in america make creating a service industry specifically geared towards catering to brazilian passerbys especially profitable. This study will use airport data from the I94 Immigration Data to determine which airports would be more interesting to establish services such as apple stores accepting brazilian real (brazilian currency) with portuguese speaking salesmen.

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [2]:
# Do all imports and installs here
import pandas as pd

### Step 1: Scope the Project and Gather Data

#### Scope 

The scope of the project is the data presented by Udacity, presented in graphical form in a plotly graph, but could very well be an auto-updating dash website being fed immigration and travel data from brazil to america. As the joke goes, if you don't come to brazil, brazil comes to you

#### Describe and Gather Data 

- I94 Immigration Data: This data comes from the US National Tourism and Trade Office. A data dictionary is included in the workspace. This is where the data comes from.  
- I94_SAS_Labels_descriptions.SAS - Partial description of the SAS data provided by udacity
- Airport Code Table(airport-codes_csv.csv): This is a simple table of airport codes and corresponding cities. It comes from here.
- U.S. City Demographic Data: This data comes from OpenSoft. You can read more about it here (us-cities-demographics.csv): list of us cities including their latitude and longitude

In [3]:
# Read in the data here
fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")
fname2 = '../../data2/GlobalLandTemperaturesByCity.csv'
df2 = pd.read_csv(fname2)

In [21]:
df.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2

In [68]:
brazil = df[df['i94res']==689]

In [5]:
brazil

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
628,737.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,20553.0,...,NaN,M,1980.0,06292016,F,NaN,UA,5.540653e+10,00148,WT
629,738.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,20553.0,...,NaN,M,1982.0,06292016,F,NaN,UA,5.540652e+10,00148,WT
9327,11229.0,2016.0,4.0,111.0,689.0,DAL,20545.0,1.0,NV,20547.0,...,NaN,M,1984.0,06292016,M,NaN,AA,5.540677e+10,00962,WT
9328,11230.0,2016.0,4.0,111.0,689.0,LVG,20545.0,1.0,NV,20551.0,...,NaN,M,1982.0,06292016,NaN,NaN,CM,5.544914e+10,00252,WB
9329,11231.0,2016.0,4.0,111.0,689.0,MIA,20545.0,1.0,FL,20549.0,...,NaN,M,1970.0,06292016,NaN,NaN,JJ,5.540666e+10,08090,WT
9330,11232.0,2016.0,4.0,111.0,689.0,MIA,20545.0,1.0,FL,20556.0,...,NaN,M,1938.0,06292016,NaN,NaN,JJ,5.544946e+10,08094,WT
9331,11233.0,2016.0,4.0,111.0,689.0,HOU,20545.0,1.0,TX,20574.0,...,NaN,M,1998.0,D/S,F,NaN,UA,9.243793e+10,00128,F1
13689,16687.0,2016.0,4.0,117.0,689.0,ATL,20545.0,1.0,MA,20554.0,...,NaN,M,1971.0,06292016,M,NaN,DL,5.540701e+10,00060,WT
13690,16691.0,2016.0,4.0,117.0,689.0,DAL,20545.0,1.0,TX,20554.0,...,NaN,M,1952.0,06292016,NaN,NaN,AA,5.540664e+10,00962,WT
13691,16692.0,2016.0,4.0,117.0,689.0,DAL,20545.0,1.0,TX,20554.0,...,NaN,M,1975.0,06292016,NaN,NaN,AA,5.540664e+10,00962,WT
13692,16693.0,2016.0,4.0,117.0,689.0,NEW,20545.0,1.0,NY,20569.0,...,NaN,M,1963.0,06292016,F,NaN,UA,5.540656e+10,00148,WT
13693,16694.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,FL,20548.0,...,NaN,M,1971.0,06292016,F,NaN,AD,5.540691e+10,08704,WT
13694,16695.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,FL,20553.0,...,NaN,M,1978.0,06292016,M,NaN,AD,5.540636e+10,08704,WT
13695,16696.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,FL,20555.0,...,NaN,M,1951.0,06292016,NaN,NaN,AD,5.540633e+10,08704,WT
13696,16697.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,FL,20555.0,...,NaN,M,1951.0,06292016,NaN,NaN,AD,5.540633e+10,08704,WT
13697,16698.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,FL,20555.0,...,NaN,M,1955.0,06292016,NaN,NaN,AD,5.540631e+10,08704,WT
13698,16699.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,NY,20563.0,...,NaN,M,1980.0,06292016,M,NaN,AD,6.657129e+08,8704,WT
13699,16700.0,2016.0,4.0,117.0,689.0,WAS,20545.0,1.0,MD,20554.0,...,NaN,M,1954.0,06292016,M,NaN,UA,5.540671e+10,00860,WB
13700,16701.0,2016.0,4.0,117.0,689.0,WAS,20545.0,1.0,MD,20554.0,...,NaN,M,1958.0,06292016,F,NaN,UA,5.540670e+10,00860,WB
13701,16702.0,2016.0,4.0,117.0,689.0,WAS,20545.0,1.0,MD,20575.0,...,NaN,M,1995.0,06292016,F,NaN,UA,5.540669e+10,00860,WT
13702,16703.0,2016.0,4.0,117.0,689.0,WAS,20545.0,1.0,VA,20562.0,...,NaN,M,1980.0,06292016,F,NaN,UA,5.540660e+10,00860,WT
13703,16704.0,2016.0,4.0,117.0,689.0,HOU,20545.0,1.0,CO,20554.0,...,NaN,M,1977.0,06292016,M,NaN,UA,5.540719e+10,00128,WT
13704,16705.0,2016.0,4.0,117.0,689.0,HOU,20545.0,1.0,NV,20554.0,...,NaN,M,1980.0,06292016,F,NaN,UA,5.540725e+10,00128,WT
13705,16706.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,CA,20547.0,...,NaN,M,1986.0,06292016,NaN,NaN,AA,5.540648e+10,00950,WT
13706,16707.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,FL,20551.0,...,NaN,M,1949.0,06292016,NaN,NaN,JJ,5.540773e+10,08080,WT
13707,16708.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,IL,20555.0,...,NaN,M,1978.0,06292016,M,NaN,JJ,5.540793e+10,08080,WB
13708,16709.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,MA,20574.0,...,NaN,M,1967.0,06292016,M,NaN,JJ,5.540763e+10,08078,WT
13709,16710.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,NJ,20555.0,...,NaN,M,1951.0,06292016,NaN,NaN,AA,5.540653e+10,00950,WT
13710,16711.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,NJ,20555.0,...,NaN,M,1954.0,06292016,NaN,NaN,AA,5.540653e+10,00950,WT
13711,16712.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,NY,20557.0,...,NaN,M,1990.0,06292016,F,NaN,DL,5.540684e+10,00472,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093693,4842559.0,2016.0,4.0,689.0,689.0,THO,20569.0,3.0,NY,20574.0,...,NaN,M,1992.0,10242016,F,NaN,NaN,9.447235e+10,LAND,B2
3093694,4458770.0,2016.0,4.0,689.0,689.0,VIC,20567.0,3.0,NaN,20571.0,...,NaN,M,1985.0,07092016,F,NaN,NaN,3.291899e+08,9860,B2
3093695,2295507.0,2016.0,4.0,689.0,689.0,VIC,20556.0,3.0,NaN,NaN,...,NaN,NaN,1976.0,10032016,M,NaN,NaN,9.271047e+10,00844,B2
3093696,2295506.0,2016.0,4.0,689.0,689.0,VIC,20556.0,3.0,NaN,NaN,...,NaN,NaN,1975.0,10032016,F,NaN,NaN,9.271057e+10,00844,B2
3093697,1960990.0,2016.0,4.0,689.0,689.0,VIC,20554.0,3.0,WA,NaN,...,NaN,NaN,1954.0,10062016,F,NaN,NaN,9.295398e+10,08093,B2
3093698,5005403.0,2016.0,4.0,689.0,689.0,VIC,20570.0,3.0,WA,20673.0,...,NaN,M,1987.0,10252016,F,NaN,NaN,9.461223e+10,LAND,B2
3093699,5005402.0,2016.0,4.0,689.0,689.0,VIC,20570.0,3.0,WA,20673.0,...,NaN,M,1980.0,10252016,M,NaN,NaN,9.461245e+10,LAND,B2
3093700,3287205.0,2016.0,4.0,689.0,689.0,WAS,20561.0,3.0,TX,20617.0,...,NaN,M,1986.0,10162016,M,NaN,NaN,9.379174e+10,LAND,B2
3093701,1683853.0,2016.0,4.0,574.0,689.0,WPB,20553.0,3.0,NY,20573.0,...,NaN,M,1981.0,12262016,M,NaN,NaN,4.861707e+10,00804,E2
3093702,803058.0,2016.0,4.0,689.0,689.0,WPB,20548.0,3.0,TX,20552.0,...,NaN,M,1962.0,10022016,M,NaN,NaN,9.261741e+10,00104,B2
3093703,3318873.0,2016.0,4.0,117.0,689.0,YSL,20562.0,3.0,NC,20563.0,...,NaN,M,1960.0,07112016,M,NaN,NaN,5.610093e+10,00733,WB
3093704,210435.0,2016.0,4.0,689.0,689.0,YSL,20545.0,3.0,NaN,20548.0,...,NaN,M,1974.0,04242016,M,NaN,NaN,7.762297e+10,00962,B1
3093705,1146639.0,2016.0,4.0,689.0,689.0,YSL,20550.0,3.0,IL,20553.0,...,NaN,M,1977.0,10052016,M,NaN,NaN,6.991271e+08,LAND,B2
3093706,1146638.0,2016.0,4.0,689.0,689.0,YSL,20550.0,3.0,IL,20553.0,...,NaN,M,1965.0,10052016,M,NaN,NaN,6.991794e+08,LAND,B2
3093707,1146640.0,2016.0,4.0,689.0,689.0,YSL,20550.0,3.0,IL,20553.0,...,NaN,M,1983.0,10052016,M,NaN,NaN,6.992555e+08,LAND,B2
3093708,3067579.0,2016.0,4.0,689.0,689.0,YSL,20560.0,3.0,NaN,20567.0,...,NaN,M,1976.0,04162016,M,NaN,NaN,7.704710e+10,LAND,B2
3093709,3067580.0,2016.0,4.0,689.0,689.0,YSL,20560.0,3.0,NaN,20567.0,...,NaN,M,1979.0,04162016,F,NaN,NaN,7.704713e+10,LAND,B2
3093710,1766408.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,NaN,20565.0,...,NaN,M,1973.0,07212016,F,NaN,NaN,8.610767e+10,00962,B2
3093711,1146634.0,2016.0,4.0,689.0,689.0,YSL,20550.0,3.0,NaN,20551.0,...,NaN,M,1974.0,07242016,M,NaN,NaN,8.637911e+10,00962,B2
3093712,1762318.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,NM,20554.0,...,NaN,M,1981.0,09112016,M,NaN,NaN,9.038530e+10,LAND,B2
3093713,419910.0,2016.0,4.0,689.0,689.0,YSL,20546.0,3.0,TX,20553.0,...,NaN,M,1981.0,10012016,M,NaN,NaN,9.255535e+10,LAND,B2
3093714,1762319.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,TX,20554.0,...,NaN,M,1981.0,10012016,F,NaN,NaN,9.255563e+10,LAND,B2
3093715,1766410.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,TX,20554.0,...,NaN,M,1956.0,10012016,M,NaN,NaN,9.255582e+10,LAND,B2
3093716,1766409.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,TX,20554.0,...,NaN,M,1954.0,10012016,F,NaN,NaN,9.255595e+10,LAND,B2
3093717,1766411.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,TX,20554.0,...,NaN,M,2015.0,10012016,M,NaN,NaN,9.255607e+10,LAND,B2
3093718,1549911.0,2016.0,4.0,689.0,689.0,YSL,20552.0,3.0,TX,20567.0,...,NaN,M,1972.0,10012016,M,NaN,NaN,9.258568e+10,LAND,B2
3093719,974660.0,2016.0,4.0,689.0,689.0,YSL,20549.0,3.0,TX,20679.0,...,NaN,M,1977.0,10022016,M,NaN,NaN,9.269247e+10,LAND,B2
3093720,5005411.0,2016.0,4.0,689.0,689.0,YSL,20570.0,3.0,NaN,20571.0,...,NaN,M,1969.0,10172016,M,NaN,NaN,9.387171e+10,00104,B2
3093721,4459320.0,2016.0,4.0,689.0,689.0,YSL,20567.0,3.0,TX,20595.0,...,NaN,M,1979.0,10222016,F,NaN,NaN,9.434048e+10,LAND,B2
3093722,4459319.0,2016.0,4.0,689.0,689.0,YSL,20567.0,3.0,TX,20595.0,...,NaN,M,1976.0,10222016,M,NaN,NaN,9.434056e+10,LAND,B2

In [12]:
airports = brazil['i94port'].unique()

In [18]:
airports.sort()
airports

array(['AGA', 'ANZ', 'ATL', 'AUS', 'BAL', 'BED', 'BLA', 'BOA', 'BOS',
       'BQN', 'BRO', 'BUF', 'CAL', 'CHI', 'CHM', 'CIN', 'CLE', 'CLG',
       'CLM', 'CLS', 'CLT', 'DAL', 'DEN', 'DER', 'DET', 'DLR', 'DNA',
       'DOU', 'DUB', 'EDA', 'EGP', 'FMY', 'FTL', 'GPM', 'HAL', 'HAM',
       'HAR', 'HHW', 'HID', 'HIG', 'HOU', 'HPN', 'HTM', 'INP', 'JKM',
       'KAN', 'KOA', 'LAR', 'LCB', 'LEW', 'LEX', 'LIH', 'LLB', 'LNB',
       'LOS', 'LVG', 'LYN', 'MAA', 'MAS', 'MCA', 'MDT', 'MIA', 'MIL',
       'MLB', 'MON', 'NAS', 'NCA', 'NEW', 'NIA', 'NOG', 'NOL', 'NOR',
       'NSV', 'NYC', 'OGD', 'OGG', 'OPF', 'ORL', 'ORO', 'OTM', 'OTT',
       'PBB', 'PDN', 'PEM', 'PEV', 'PHI', 'PHO', 'PHR', 'PHU', 'PIT',
       'PNH', 'POO', 'PRO', 'PSP', 'RAY', 'RDU', 'ROC', 'ROU', 'SAA',
       'SAI', 'SAJ', 'SAV', 'SDP', 'SEA', 'SFB', 'SFR', 'SKA', 'SLC',
       'SLU', 'SNA', 'SNJ', 'SPE', 'SPM', 'SRQ', 'STL', 'STR', 'STT',
       'SUM', 'SYR', 'SYS', 'TAM', 'TEC', 'THO', 'TOR', 'TUC', 'VCV',
       'VIC', 'WAS', 'WIN', 'WLL', 'WPB', 'X96', 'XXX', 'YGF', 'YSL'], dtype=object)

In [6]:
brazil.to_csv("brazil.csv")

In [22]:
df.columns

Index(['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate',
       'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count',
       'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu',
       'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline',
       'admnum', 'fltno', 'visatype'],
      dtype='object')

In [46]:
brazil.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
628,737,2016,4,103,689,NEW,20545,1,NY,20553,...,NaN,M,1980,06292016,F,NaN,UA,5.54065e+10,00148,WT
629,738,2016,4,103,689,NEW,20545,1,NY,20553,...,NaN,M,1982,06292016,F,NaN,UA,5.54065e+10,00148,WT
9327,11229,2016,4,111,689,DAL,20545,1,NV,20547,...,NaN,M,1984,06292016,M,NaN,AA,5.54068e+10,00962,WT
9328,11230,2016,4,111,689,LVG,20545,1,NV,20551,...,NaN,M,1982,06292016,NaN,NaN,CM,5.54491e+10,00252,WB
9329,11231,2016,4,111,689,MIA,20545,1,FL,20549,...,NaN,M,1970,06292016,NaN,NaN,JJ,5.54067e+10,08090,WT

In [4]:
df2.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Ã…rhus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E

In [25]:
airport_codes = pd.read_csv("airport-codes_csv.csv")
df4 = pd.read_csv("immigration_data_sample.csv")
us_demographics = pd.read_csv("us-cities-demographics.csv",sep = ';')

In [21]:
airport_codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [55]:
teste = brazil

In [69]:
brazil['i94port'] = brazil['i94port'].str.replace('NYC','JFK')

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [70]:
brazil['i94port'] = brazil['i94port'].str.replace('LOS','LAX')

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [47]:
teste.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
628,737,2016,4,103,689,NEW,20545,1,NY,20553,...,NaN,M,1980,06292016,F,NaN,UA,5.54065e+10,00148,WT
629,738,2016,4,103,689,NEW,20545,1,NY,20553,...,NaN,M,1982,06292016,F,NaN,UA,5.54065e+10,00148,WT
9327,11229,2016,4,111,689,DAL,20545,1,NV,20547,...,NaN,M,1984,06292016,M,NaN,AA,5.54068e+10,00962,WT
9328,11230,2016,4,111,689,LVG,20545,1,NV,20551,...,NaN,M,1982,06292016,NaN,NaN,CM,5.54491e+10,00252,WB
9329,11231,2016,4,111,689,MIA,20545,1,FL,20549,...,NaN,M,1970,06292016,NaN,NaN,JJ,5.54067e+10,08090,WT

In [71]:
z = brazil[brazil['i94port']=='LAX']
z

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
16802,20461.0,2016.0,4.0,126.0,689.0,LAX,20545.0,1.0,CA,20558.0,...,NaN,M,1948.0,06292016,F,NaN,AA,5.540877e+10,00216,WT
16803,20462.0,2016.0,4.0,126.0,689.0,LAX,20545.0,1.0,CA,20553.0,...,NaN,M,1972.0,06292016,M,NaN,AA,5.540849e+10,00216,WT
16804,20463.0,2016.0,4.0,126.0,689.0,LAX,20545.0,1.0,CA,20556.0,...,NaN,M,1949.0,06292016,M,NaN,AA,5.540848e+10,00216,WT
16805,20464.0,2016.0,4.0,126.0,689.0,LAX,20545.0,1.0,CA,20560.0,...,NaN,M,1946.0,06292016,M,NaN,AA,5.540881e+10,00216,WT
16831,20497.0,2016.0,4.0,126.0,689.0,LAX,20545.0,1.0,CA,20552.0,...,NaN,M,1971.0,09302016,M,NaN,AM,9.247620e+10,00019,B2
43656,51444.0,2016.0,4.0,148.0,689.0,LAX,20545.0,1.0,CA,20554.0,...,NaN,M,1962.0,06292016,NaN,NaN,AA,5.540853e+10,00216,WT
43657,51445.0,2016.0,4.0,148.0,689.0,LAX,20545.0,1.0,OR,20549.0,...,NaN,M,1972.0,06292016,M,NaN,AA,5.540850e+10,00216,WT
63948,77905.0,2016.0,4.0,254.0,689.0,LAX,20545.0,1.0,CA,20548.0,...,NaN,M,1953.0,06292016,NaN,NaN,KE,5.540430e+10,00062,WT
89486,206017.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20562.0,...,NaN,M,1942.0,09302016,F,NaN,LA,9.251707e+10,02604,B2
89667,206277.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20553.0,...,NaN,M,1965.0,09302016,NaN,NaN,AA,9.244821e+10,00216,B2
89668,206278.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20547.0,...,NaN,M,1953.0,09302016,NaN,NaN,QF,9.244513e+10,00015,B2
89669,206279.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20549.0,...,NaN,M,1982.0,09302016,NaN,NaN,AA,9.244666e+10,00216,B2
89670,206280.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20554.0,...,NaN,M,1985.0,09302016,NaN,NaN,AA,9.244718e+10,00216,B1
89671,206281.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20555.0,...,NaN,M,1979.0,09302016,NaN,NaN,AF,9.248346e+10,00066,B2
89672,206282.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20555.0,...,NaN,M,1984.0,09302016,NaN,NaN,CM,9.242173e+10,00302,B1
89673,206283.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20551.0,...,NaN,M,1975.0,09302016,M,NaN,AA,6.658622e+08,216,B2
89674,206284.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20555.0,...,NaN,M,1987.0,09302016,M,NaN,CM,6.665305e+08,360,B2
89675,206285.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20566.0,...,NaN,M,1944.0,09302016,M,NaN,AA,6.649346e+08,216,B2
89751,206364.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20554.0,...,NaN,M,1979.0,09302016,M,NaN,JJ,6.677194e+08,8086,B2
89850,206495.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,NY,20549.0,...,NaN,M,1968.0,09302016,F,NaN,AA,9.243234e+10,00974,B2
89851,206496.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,NY,20550.0,...,NaN,M,1972.0,09302016,F,NaN,JJ,9.243924e+10,08102,B2
89873,206520.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20555.0,...,NaN,M,1982.0,09302016,M,NaN,CM,9.248600e+10,00360,B2
89875,206522.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20560.0,...,NaN,M,1949.0,09302016,M,NaN,CM,9.248518e+10,00360,B2
89878,206525.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20557.0,...,NaN,M,1986.0,09302016,M,NaN,CM,9.248580e+10,00360,B2
89959,206607.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,2003.0,09302016,M,NaN,JJ,9.250375e+10,08048,B2
89960,206608.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,1977.0,09302016,F,NaN,AD,9.249794e+10,08706,B2
89961,206609.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,1982.0,09302016,M,NaN,AD,9.249803e+10,08706,B2
89962,206610.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,1983.0,09302016,F,NaN,AD,9.249848e+10,08706,B2
89963,206611.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,1987.0,09302016,M,NaN,AD,9.249856e+10,08706,B2
89964,206612.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,2014.0,09302016,M,NaN,AD,9.249806e+10,08706,B2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2898656,5889389.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20582.0,...,NaN,M,1961.0,10292016,F,NaN,AA,9.495964e+10,00216,B2
2898657,5889390.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20582.0,...,NaN,M,1977.0,10292016,M,NaN,AA,9.495989e+10,00216,B2
2898658,5889391.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20582.0,...,NaN,M,1978.0,10292016,M,NaN,AA,9.495973e+10,00216,B2
2898659,5889392.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20582.0,...,NaN,M,1987.0,10292016,M,NaN,AA,9.495976e+10,00216,B2
2898660,5889393.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20582.0,...,NaN,M,1989.0,10292016,F,NaN,AA,9.495971e+10,00216,B2
2898661,5889394.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20584.0,...,NaN,M,1945.0,10292016,M,NaN,AA,9.495937e+10,00216,B2
2898662,5889395.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20584.0,...,NaN,M,1953.0,10292016,F,NaN,AA,9.495945e+10,00216,B2
2898663,5889397.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,UT,20575.0,...,NaN,M,1987.0,D/S,M,NaN,AA,9.495930e+10,00216,F1
2898664,5889398.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,CA,NaN,...,NaN,NaN,1984.0,D/S,F,NaN,AA,9.495985e+10,00216,F1
2905804,5897776.0,2016.0,4.0,696.0,689.0,LAX,20574.0,1.0,CA,20579.0,...,NaN,M,1980.0,10292016,M,NaN,AA,9.496059e+10,00216,B2
3093112,4844678.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,NaN,20570.0,...,NaN,M,1981.0,05202016,M,NaN,NaN,7.992609e+10,00962,B1
3093113,1766463.0,2016.0,4.0,689.0,689.0,LAX,20553.0,3.0,WA,20554.0,...,NaN,M,1994.0,10082016,M,NaN,NaN,7.526230e+08,LAND,B2
3093114,2142871.0,2016.0,4.0,689.0,689.0,LAX,20555.0,3.0,WA,20560.0,...,NaN,M,1988.0,10092016,M,NaN,NaN,7.709847e+08,LAND,B2
3093115,2142771.0,2016.0,4.0,689.0,689.0,LAX,20555.0,3.0,NY,NaN,...,NaN,NaN,1958.0,10102016,F,NaN,NaN,7.757697e+08,LAND,B2
3093116,5192975.0,2016.0,4.0,689.0,689.0,LAX,20571.0,3.0,NaN,20572.0,...,NaN,M,1984.0,05142016,M,NaN,NaN,7.943502e+10,LAND,B2
3093117,616218.0,2016.0,4.0,689.0,689.0,LAX,20547.0,3.0,NaN,20554.0,...,NaN,M,1990.0,06202016,M,NaN,NaN,8.281338e+10,LAND,B2
3093118,4844680.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,NaN,20571.0,...,NaN,M,1997.0,08252016,F,NaN,NaN,8.911615e+10,LAND,B2
3093119,5804085.0,2016.0,4.0,574.0,689.0,LAX,20574.0,3.0,NaN,NaN,...,NaN,NaN,1975.0,09032016,M,NaN,NaN,8.973952e+10,00482,B2
3093120,4844693.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,NaN,20578.0,...,NaN,M,1998.0,09232016,M,NaN,NaN,9.179383e+10,LAND,B2
3093121,616216.0,2016.0,4.0,689.0,689.0,LAX,20547.0,3.0,NaN,20548.0,...,NaN,M,1972.0,09242016,M,NaN,NaN,9.182708e+10,08102,B2
3093122,3637026.0,2016.0,4.0,689.0,689.0,LAX,20563.0,3.0,NaN,20567.0,...,NaN,M,1986.0,10102016,M,NaN,NaN,9.331020e+10,08094,B2
3093123,3637025.0,2016.0,4.0,689.0,689.0,LAX,20563.0,3.0,NaN,20564.0,...,NaN,M,1958.0,10102016,F,NaN,NaN,9.331024e+10,08094,B2
3093124,2860174.0,2016.0,4.0,689.0,689.0,LAX,20559.0,3.0,WA,20560.0,...,NaN,M,1978.0,10142016,F,NaN,NaN,9.360184e+10,LAND,B2
3093125,5192972.0,2016.0,4.0,689.0,689.0,LAX,20571.0,3.0,NaN,20614.0,...,NaN,M,1978.0,10202016,M,NaN,NaN,9.409812e+10,00962,B2
3093126,5193020.0,2016.0,4.0,689.0,689.0,LAX,20571.0,3.0,CA,20572.0,...,NaN,M,1977.0,10212016,F,NaN,NaN,9.424428e+10,00019,B2
3093127,4844683.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,WA,NaN,...,NaN,NaN,1999.0,10242016,F,NaN,NaN,9.450505e+10,LAND,B2
3093128,4844682.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,IL,20572.0,...,NaN,M,1984.0,10242016,F,NaN,NaN,9.451055e+10,LAND,B2
3093129,4844681.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,IL,20572.0,...,NaN,M,1978.0,10242016,M,NaN,NaN,9.451071e+10,LAND,B2
3093130,5192973.0,2016.0,4.0,689.0,689.0,LAX,20571.0,3.0,NY,20576.0,...,NaN,M,1990.0,10262016,F,NaN,NaN,9.470767e+10,LAND,B2
3093131,2142769.0,2016.0,4.0,689.0,689.0,LAX,20555.0,3.0,DC,20629.0,...,NaN,M,1997.0,D/S,M,NaN,NaN,8.419913e+10,00149,F1

In [20]:
len(df4)

1000

In [26]:
us_demographics.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [19]:
dfz = df3[df3['iata_code']=='SKA']
dfz

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
29965,KSKA,large_airport,Fairchild Air Force Base,2461.0,NaN,US,US-WA,Spokane,KSKA,SKA,SKA,"-117.65599823, 47.6151008606"

In [72]:
braziliansInAirports = pd.merge(brazil,airport_codes,left_on=['i94port'], right_on=['iata_code'],how='inner')
braziliansInAirports.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,737.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,20553.0,...,Lakefront Airport,8.0,NaN,US,US-LA,New Orleans,KNEW,NEW,NEW,"-90.028297424316, 30.042400360107"
1,738.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,20553.0,...,Lakefront Airport,8.0,NaN,US,US-LA,New Orleans,KNEW,NEW,NEW,"-90.028297424316, 30.042400360107"
2,16693.0,2016.0,4.0,117.0,689.0,NEW,20545.0,1.0,NY,20569.0,...,Lakefront Airport,8.0,NaN,US,US-LA,New Orleans,KNEW,NEW,NEW,"-90.028297424316, 30.042400360107"
3,51442.0,2016.0,4.0,148.0,689.0,NEW,20545.0,1.0,NJ,20553.0,...,Lakefront Airport,8.0,NaN,US,US-LA,New Orleans,KNEW,NEW,NEW,"-90.028297424316, 30.042400360107"
4,206161.0,2016.0,4.0,689.0,689.0,NEW,20545.0,1.0,NJ,20555.0,...,Lakefront Airport,8.0,NaN,US,US-LA,New Orleans,KNEW,NEW,NEW,"-90.028297424316, 30.042400360107"

In [73]:
braziliansInAirports.groupby(['municipality','coordinates','iata_code']).size().to_frame(name = 'count').reset_index().sort_values(by=['count'],ascending=False)

,municipality,coordinates,iata_code,count
58,Miami,"-80.29060363769531, 25.79319953918457",MIA,36774
66,Orlando,"-81.332901, 28.5455",ORL,20030
61,New York,"-73.77890015, 40.63980103",JFK,17916
51,Los Angeles,"-118.4079971, 33.94250107",LAX,7390
41,Houston,"-95.27890015, 29.64539909",HOU,5614
3,Atlanta,"-84.428101, 33.6367",ATL,5021
24,Dallas,"-96.851799, 32.847099",DAL,4231
60,New Orleans,"-90.028297424316, 30.042400360107",NEW,3465
75,Point Hope,"-166.7989959716797, 68.34880065917969",PHO,2514
28,Detroit,"-83.00990295, 42.40919876",DET,1584
68,Palm Springs,"-116.50700378417969, 33.8297004699707",PSP,1565
52,Los Angeles,"-118.422, 34.289",SFR,1345
42,Kahului,"-156.429993, 20.8986",OGG,1121
93,Seattle,"-122.308998, 47.449001",SEA,930
26,Denver,"-104.672996521, 39.861698150635",DEN,680
105,Trier,"6.69250011444, 49.9726982117",SPM,675
33,Fort Myers,"-81.86329650879999, 26.58659935",FMY,619
101,Tampico,"-97.8658981323, 22.2964000702",TAM,577
104,Torrington,"-104.1529999, 42.0644989",TOR,507
10,Boston,"-71.00520325, 42.36429977",BOS,503
43,Kailua/Kona,"-156.045603, 19.738783",KOA,447
73,Pinheiro,"-45.067222595214844, -2.4836111068725586",PHI,331
87,Sand Point,"-160.5229949951172, 55.314998626708984",SDP,270
107,Victorville,"-117.383003235, 34.597499847399995",VCV,266
50,Lihue,"-159.33900451660156, 21.97599983215332",LIH,254
78,Port BergÃƒÂ©,"47.623587, -15.584286",WPB,249
89,Sarasota/Bradenton,"-82.55439758300781, 27.39539909362793",SRQ,205
6,Barcelona,"-64.692222, 10.111111",BLA,186
79,PoÃƒÂ§os De Caldas,"-46.567901611328, -21.843000411987",POO,179
16,Charlotte,"-80.94309997558594, 35.2140007019043",CLT,171
...,...,...,...,...
99,Sumter,"-80.361297607422, 33.994998931885",SUM,4
63,NorÃƒÂ°fjÃƒÂ¶rÃƒÂ°ur,"-13.746399879455566, 65.13189697265625",NOR,4
76,Pontes e Lacerda,"-59.3848, -15.1934",LCB,3
12,Buffalo,"-78.73220062, 42.94049835",BUF,3
83,Rochester,"-77.67240142822266, 43.118900299072266",ROC,3
84,Ruse,"26.056699752800004, 43.6948013306",ROU,3
37,Harrisburg,"-76.85150146480001, 40.2170982361",HAR,3
31,Eagle Pass,"-100.512001, 28.85720062",EGP,3
36,Harrisburg,"-76.7633972168, 40.1935005188",MDT,3
100,Syracuse,"-76.1063003540039, 43.11119842529297",SYR,2
55,Manus Island,"147.423996, -2.06189",MAS,2
80,Puerto Maldonado,"-69.2285995483, -12.6135997772",PEM,2
72,Pinar Del Rio,"-84.1520004272461, 22.095300674438477",SNJ,2
5,Austin,"-97.6698989868164, 30.194499969482422",AUS,2
11,Brownsville,"-97.4259033203125, 25.90679931640625",BRO,2
25,Dalnerechensk,"133.7363, 45.8783",DLR,2
29,Dourados,"-54.926601, -22.2019",DOU,2
109,Yoro,"-87.135, 15.1275",ORO,2
54,Macenta,"-9.525071, 8.481857",MCA,1
48,Lexington,"-84.60590362548828, 38.0364990234375",LEX,1
56,Melbourne,"-80.64530181884766, 28.102800369262695",MLB,1
46,Lamen Bay,"168.158996582, -16.584199905400002",LNB,1
38,Hatgal,"100.139532, 50.435988",HTM,1
34,Halali,"16.4585, -19.0285",HAL,1
65,Orlando,"-81.23750305175781, 28.777599334716797",SFB,1
95,Spokane,"-117.65599823, 47.6151008606",SKA,1
15,Castries,"-60.992901, 14.0202",SLU,1
70,Perry,"-94.15989685, 41.82799911",PRO,1
71,Phnom Penh,"104.84400177001953, 11.546600341796875",PNH,1
47,Laramie,"-105.67500305175781, 41.31209945678711",LAR,1

In [67]:
braziliansInAirports.to_csv("Brazilians-In-Airports2.csv")

In [ ]:
import plotly.graph_objects as go

import pandas as pd

df = braziliansInAirports
new = df["coordinates"].str.split(", ", n = 1, expand = True)
df['lat'] = new[1]
df['lon'] = new[0]
df = df.groupby(['municipality', 'lat','lon']).size().to_frame(name = 'count').reset_index()


df['text'] = df['municipality'] + '<br>Arrivals '+ df['count'].astype(str)
limits = [(0,2),(3,10),(11,20),(21,50),(50,3000)]
colors = ["royalblue","crimson","lightseagreen","orange","lightgrey"]
cities = []
scale = 2

fig = go.Figure()

for i in range(len(limits)):
    lim = limits[i]
    df_sub = df[lim[0]:lim[1]]
    fig.add_trace(go.Scattergeo(
        locationmode = 'USA-states',
        lon = df_sub['lon'],
        lat = df_sub['lat'],
        text = df_sub['text'],
        marker = dict(
            size = df_sub['count']/scale,
            color = colors[i],
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'
        ),
        name = '{0} - {1}'.format(lim[0],lim[1])))

fig.update_layout(
        title_text = '2016 US city brazilian arrivals<br>(Click legend to toggle traces)',
        showlegend = True,
        geo = dict(
            scope = 'usa',
            landcolor = 'rgb(217, 217, 217)',
        )
    )

fig.show()

![Map](mapz.png "Map")

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

df_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [11]:
#write to parquet
df_spark.write.parquet("sas_data")
df_spark=spark.read.parquet("sas_data")

### Step 2: Explore and Assess the Data
#### Explore the Data 
The presented data was relatively good, well cleaned, but had quite a few entire city names listed as i94 ports, which required some manual cleaning of the data above

#### Cleaning Steps
Altered all city airport codes for specific airport codes before inner joining with airport codes dataset

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
The data model is an inner join between a filtered dataset of arrivals, by the code assigned to brazil (689), and the airport codes through the iana airport code, and grouped by and counted by individual rows of arrivals, reduced to the count of arrivals, municipality, latitute and longitude, displayed in a geographic map of the united states through a bubble graph using plotly graph objects.

#### 3.2 Mapping Out Data Pipelines
The data is mapped utilizing spark and could be fed from redshift to a dash webpage live, meaning the data could be increased 100x, the pipelines could be run on a daily basis by 7 am every day (or ran every second), and the database could be accessed in redshift by 100+ people.

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.