# Come to brazil
### Data Engineering Capstone Project

#### Project Summary
Brazil is a continentallly sized country, both in terms of geographic size and population. The mercator projection, presented by Flemish geographer and cartographer Gerardus Mercator in 1569 was created long before modern cartographic techniques were developed. South america is larger in size than western europe, and individual brazilian states are larger in both size and population than the largest western european countries, like france and germany. Even as a poor country, the sheer potential in numbers amongst the upper economic echelons of the brazilian population make it a very interesting commercial study subject. That, coupled with a virtual 100% import tariff more than doubling commodity prices natively, and a habit of smuggling goods by both brazilian travelers and brazilian immigrants in america make creating a service industry specifically geared towards catering to brazilian passerbys especially profitable. This study will use airport data from the I94 Immigration Data to determine which airports would be more interesting to establish services such as apple stores accepting brazilian real (brazilian currency) with portuguese speaking salesmen.

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))


import pandas as pd
import boto3
import json


KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )
s3d = boto3.client('s3',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )
session = boto3.Session(
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
)
s3u = session.resource('s3')
iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-east-1'
                  )

redshift = boto3.client('redshift',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

### Step 1: Scope the Project and Gather Data

#### Scope 

The scope of the project is the data presented by Udacity, presented in graphical form in a plotly graph, but could very well be an auto-updating dash website being fed immigration and travel data from brazil to america. As the joke goes, if you don't come to brazil, brazil comes to you

#### Describe and Gather Data 

- I94 Immigration Data: This data comes from the US National Tourism and Trade Office. A data dictionary is included in the workspace. This is where the data comes from.  
- I94_SAS_Labels_descriptions.SAS - Partial description of the SAS data provided by udacity
- Airport Code Table(airport-codes_csv.csv): This is a simple table of airport codes and corresponding cities. It comes from here.
- U.S. City Demographic Data: This data comes from OpenSoft. You can read more about it here (us-cities-demographics.csv): list of us cities including their latitude and longitude

In [ ]:
# Read in the data here
fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
#response = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key="files/books.csv")
#fname = 's3://astrogildopereirajunior/i94_apr16_sub.sas7bdat'
#df = pd.read_sas(
#    fname,
#    'sas7bdat',
#    encoding="ISO-8859-1",
#    storage_options={
#        "key": KEY,
#        "secret": SECRET,
#    },
#)
#s3d.download_file('astrogildopereirajunior', 'i94_apr16_sub.sas7bdat', 'i94.sas7bdat')
df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")
#df.to_csv("staging_i94.csv",index=False)
#result = s3u.Bucket('astrogildopereirajr').upload_file('staging_i94.csv')
#print(result)
#fname2 = '../../data2/GlobalLandTemperaturesByCity.csv'
#df2 = pd.read_csv(fname2)

In [ ]:
df = df.fillna(0)

In [73]:
df.head(2)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,0.0,0,0.0,...,U,0,1979.0,10282016,0,0,0,1.897628e+09,0,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,0.0,...,Y,0,1991.0,D/S,M,0,0,3.736796e+09,00296,F1

In [43]:
df.to_csv('staging_i94.csv')

In [2]:
import boto3

#Creating Session With Boto3.
session = boto3.Session(
aws_access_key_id=KEY,
aws_secret_access_key=SECRET
)

#Creating S3 Resource From the Session.
s3Z = session.resource('s3')

result = s3Z.Bucket('astrogildopereirajunior').upload_file('staging_i94.csv','staging_i94.csv')

print(result)

None

In [78]:
session = boto3.Session(
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
)
s3u = session.resource('s3')
result = s3.meta.client.upload_file('staging_i94.csv', 'astrogildopereirajunior', 'staging_i94.csv')
#result = s3u.Bucket('astrogildopereirajunior').upload_file('staging_i94.csv')
print(result)

None

In [49]:
import logging
import boto3
from botocore.exceptions import ClientError
import os


def upload_file(file_name, bucket, object_name=None):
    """Upload a file to an S3 bucket

    :param file_name: File to upload
    :param bucket: Bucket to upload to
    :param object_name: S3 object name. If not specified then file_name is used
    :return: True if file was uploaded, else False
    """

    # If S3 object_name was not specified, use file_name
    if object_name is None:
        object_name = os.path.basename(file_name)

    # Upload the file
    s3_client = boto3.client('s3',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )
    try:
        response = s3_client.upload_file(file_name, bucket, object_name)
    except ClientError as e:
        logging.error(e)
        return False
    return True

In [83]:
upload_file('staging_i94.csv','astrogildopereirajunior')

True

In [ ]:
brazil = df[df['i94res']==689]

In [5]:
brazil

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
628,737.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,20553.0,...,NaN,M,1980.0,06292016,F,NaN,UA,5.540653e+10,00148,WT
629,738.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,20553.0,...,NaN,M,1982.0,06292016,F,NaN,UA,5.540652e+10,00148,WT
9327,11229.0,2016.0,4.0,111.0,689.0,DAL,20545.0,1.0,NV,20547.0,...,NaN,M,1984.0,06292016,M,NaN,AA,5.540677e+10,00962,WT
9328,11230.0,2016.0,4.0,111.0,689.0,LVG,20545.0,1.0,NV,20551.0,...,NaN,M,1982.0,06292016,NaN,NaN,CM,5.544914e+10,00252,WB
9329,11231.0,2016.0,4.0,111.0,689.0,MIA,20545.0,1.0,FL,20549.0,...,NaN,M,1970.0,06292016,NaN,NaN,JJ,5.540666e+10,08090,WT
9330,11232.0,2016.0,4.0,111.0,689.0,MIA,20545.0,1.0,FL,20556.0,...,NaN,M,1938.0,06292016,NaN,NaN,JJ,5.544946e+10,08094,WT
9331,11233.0,2016.0,4.0,111.0,689.0,HOU,20545.0,1.0,TX,20574.0,...,NaN,M,1998.0,D/S,F,NaN,UA,9.243793e+10,00128,F1
13689,16687.0,2016.0,4.0,117.0,689.0,ATL,20545.0,1.0,MA,20554.0,...,NaN,M,1971.0,06292016,M,NaN,DL,5.540701e+10,00060,WT
13690,16691.0,2016.0,4.0,117.0,689.0,DAL,20545.0,1.0,TX,20554.0,...,NaN,M,1952.0,06292016,NaN,NaN,AA,5.540664e+10,00962,WT
13691,16692.0,2016.0,4.0,117.0,689.0,DAL,20545.0,1.0,TX,20554.0,...,NaN,M,1975.0,06292016,NaN,NaN,AA,5.540664e+10,00962,WT
13692,16693.0,2016.0,4.0,117.0,689.0,NEW,20545.0,1.0,NY,20569.0,...,NaN,M,1963.0,06292016,F,NaN,UA,5.540656e+10,00148,WT
13693,16694.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,FL,20548.0,...,NaN,M,1971.0,06292016,F,NaN,AD,5.540691e+10,08704,WT
13694,16695.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,FL,20553.0,...,NaN,M,1978.0,06292016,M,NaN,AD,5.540636e+10,08704,WT
13695,16696.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,FL,20555.0,...,NaN,M,1951.0,06292016,NaN,NaN,AD,5.540633e+10,08704,WT
13696,16697.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,FL,20555.0,...,NaN,M,1951.0,06292016,NaN,NaN,AD,5.540633e+10,08704,WT
13697,16698.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,FL,20555.0,...,NaN,M,1955.0,06292016,NaN,NaN,AD,5.540631e+10,08704,WT
13698,16699.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,NY,20563.0,...,NaN,M,1980.0,06292016,M,NaN,AD,6.657129e+08,8704,WT
13699,16700.0,2016.0,4.0,117.0,689.0,WAS,20545.0,1.0,MD,20554.0,...,NaN,M,1954.0,06292016,M,NaN,UA,5.540671e+10,00860,WB
13700,16701.0,2016.0,4.0,117.0,689.0,WAS,20545.0,1.0,MD,20554.0,...,NaN,M,1958.0,06292016,F,NaN,UA,5.540670e+10,00860,WB
13701,16702.0,2016.0,4.0,117.0,689.0,WAS,20545.0,1.0,MD,20575.0,...,NaN,M,1995.0,06292016,F,NaN,UA,5.540669e+10,00860,WT
13702,16703.0,2016.0,4.0,117.0,689.0,WAS,20545.0,1.0,VA,20562.0,...,NaN,M,1980.0,06292016,F,NaN,UA,5.540660e+10,00860,WT
13703,16704.0,2016.0,4.0,117.0,689.0,HOU,20545.0,1.0,CO,20554.0,...,NaN,M,1977.0,06292016,M,NaN,UA,5.540719e+10,00128,WT
13704,16705.0,2016.0,4.0,117.0,689.0,HOU,20545.0,1.0,NV,20554.0,...,NaN,M,1980.0,06292016,F,NaN,UA,5.540725e+10,00128,WT
13705,16706.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,CA,20547.0,...,NaN,M,1986.0,06292016,NaN,NaN,AA,5.540648e+10,00950,WT
13706,16707.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,FL,20551.0,...,NaN,M,1949.0,06292016,NaN,NaN,JJ,5.540773e+10,08080,WT
13707,16708.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,IL,20555.0,...,NaN,M,1978.0,06292016,M,NaN,JJ,5.540793e+10,08080,WB
13708,16709.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,MA,20574.0,...,NaN,M,1967.0,06292016,M,NaN,JJ,5.540763e+10,08078,WT
13709,16710.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,NJ,20555.0,...,NaN,M,1951.0,06292016,NaN,NaN,AA,5.540653e+10,00950,WT
13710,16711.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,NJ,20555.0,...,NaN,M,1954.0,06292016,NaN,NaN,AA,5.540653e+10,00950,WT
13711,16712.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,NY,20557.0,...,NaN,M,1990.0,06292016,F,NaN,DL,5.540684e+10,00472,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093693,4842559.0,2016.0,4.0,689.0,689.0,THO,20569.0,3.0,NY,20574.0,...,NaN,M,1992.0,10242016,F,NaN,NaN,9.447235e+10,LAND,B2
3093694,4458770.0,2016.0,4.0,689.0,689.0,VIC,20567.0,3.0,NaN,20571.0,...,NaN,M,1985.0,07092016,F,NaN,NaN,3.291899e+08,9860,B2
3093695,2295507.0,2016.0,4.0,689.0,689.0,VIC,20556.0,3.0,NaN,NaN,...,NaN,NaN,1976.0,10032016,M,NaN,NaN,9.271047e+10,00844,B2
3093696,2295506.0,2016.0,4.0,689.0,689.0,VIC,20556.0,3.0,NaN,NaN,...,NaN,NaN,1975.0,10032016,F,NaN,NaN,9.271057e+10,00844,B2
3093697,1960990.0,2016.0,4.0,689.0,689.0,VIC,20554.0,3.0,WA,NaN,...,NaN,NaN,1954.0,10062016,F,NaN,NaN,9.295398e+10,08093,B2
3093698,5005403.0,2016.0,4.0,689.0,689.0,VIC,20570.0,3.0,WA,20673.0,...,NaN,M,1987.0,10252016,F,NaN,NaN,9.461223e+10,LAND,B2
3093699,5005402.0,2016.0,4.0,689.0,689.0,VIC,20570.0,3.0,WA,20673.0,...,NaN,M,1980.0,10252016,M,NaN,NaN,9.461245e+10,LAND,B2
3093700,3287205.0,2016.0,4.0,689.0,689.0,WAS,20561.0,3.0,TX,20617.0,...,NaN,M,1986.0,10162016,M,NaN,NaN,9.379174e+10,LAND,B2
3093701,1683853.0,2016.0,4.0,574.0,689.0,WPB,20553.0,3.0,NY,20573.0,...,NaN,M,1981.0,12262016,M,NaN,NaN,4.861707e+10,00804,E2
3093702,803058.0,2016.0,4.0,689.0,689.0,WPB,20548.0,3.0,TX,20552.0,...,NaN,M,1962.0,10022016,M,NaN,NaN,9.261741e+10,00104,B2
3093703,3318873.0,2016.0,4.0,117.0,689.0,YSL,20562.0,3.0,NC,20563.0,...,NaN,M,1960.0,07112016,M,NaN,NaN,5.610093e+10,00733,WB
3093704,210435.0,2016.0,4.0,689.0,689.0,YSL,20545.0,3.0,NaN,20548.0,...,NaN,M,1974.0,04242016,M,NaN,NaN,7.762297e+10,00962,B1
3093705,1146639.0,2016.0,4.0,689.0,689.0,YSL,20550.0,3.0,IL,20553.0,...,NaN,M,1977.0,10052016,M,NaN,NaN,6.991271e+08,LAND,B2
3093706,1146638.0,2016.0,4.0,689.0,689.0,YSL,20550.0,3.0,IL,20553.0,...,NaN,M,1965.0,10052016,M,NaN,NaN,6.991794e+08,LAND,B2
3093707,1146640.0,2016.0,4.0,689.0,689.0,YSL,20550.0,3.0,IL,20553.0,...,NaN,M,1983.0,10052016,M,NaN,NaN,6.992555e+08,LAND,B2
3093708,3067579.0,2016.0,4.0,689.0,689.0,YSL,20560.0,3.0,NaN,20567.0,...,NaN,M,1976.0,04162016,M,NaN,NaN,7.704710e+10,LAND,B2
3093709,3067580.0,2016.0,4.0,689.0,689.0,YSL,20560.0,3.0,NaN,20567.0,...,NaN,M,1979.0,04162016,F,NaN,NaN,7.704713e+10,LAND,B2
3093710,1766408.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,NaN,20565.0,...,NaN,M,1973.0,07212016,F,NaN,NaN,8.610767e+10,00962,B2
3093711,1146634.0,2016.0,4.0,689.0,689.0,YSL,20550.0,3.0,NaN,20551.0,...,NaN,M,1974.0,07242016,M,NaN,NaN,8.637911e+10,00962,B2
3093712,1762318.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,NM,20554.0,...,NaN,M,1981.0,09112016,M,NaN,NaN,9.038530e+10,LAND,B2
3093713,419910.0,2016.0,4.0,689.0,689.0,YSL,20546.0,3.0,TX,20553.0,...,NaN,M,1981.0,10012016,M,NaN,NaN,9.255535e+10,LAND,B2
3093714,1762319.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,TX,20554.0,...,NaN,M,1981.0,10012016,F,NaN,NaN,9.255563e+10,LAND,B2
3093715,1766410.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,TX,20554.0,...,NaN,M,1956.0,10012016,M,NaN,NaN,9.255582e+10,LAND,B2
3093716,1766409.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,TX,20554.0,...,NaN,M,1954.0,10012016,F,NaN,NaN,9.255595e+10,LAND,B2
3093717,1766411.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,TX,20554.0,...,NaN,M,2015.0,10012016,M,NaN,NaN,9.255607e+10,LAND,B2
3093718,1549911.0,2016.0,4.0,689.0,689.0,YSL,20552.0,3.0,TX,20567.0,...,NaN,M,1972.0,10012016,M,NaN,NaN,9.258568e+10,LAND,B2
3093719,974660.0,2016.0,4.0,689.0,689.0,YSL,20549.0,3.0,TX,20679.0,...,NaN,M,1977.0,10022016,M,NaN,NaN,9.269247e+10,LAND,B2
3093720,5005411.0,2016.0,4.0,689.0,689.0,YSL,20570.0,3.0,NaN,20571.0,...,NaN,M,1969.0,10172016,M,NaN,NaN,9.387171e+10,00104,B2
3093721,4459320.0,2016.0,4.0,689.0,689.0,YSL,20567.0,3.0,TX,20595.0,...,NaN,M,1979.0,10222016,F,NaN,NaN,9.434048e+10,LAND,B2
3093722,4459319.0,2016.0,4.0,689.0,689.0,YSL,20567.0,3.0,TX,20595.0,...,NaN,M,1976.0,10222016,M,NaN,NaN,9.434056e+10,LAND,B2

In [ ]:
airports = brazil['i94port'].unique()

In [ ]:
airports.sort()
airports

In [ ]:
brazil.to_csv("brazil.csv",index=False)

In [22]:
df.columns

Index(['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate',
       'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count',
       'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu',
       'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline',
       'admnum', 'fltno', 'visatype'],
      dtype='object')

In [46]:
brazil.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
628,737,2016,4,103,689,NEW,20545,1,NY,20553,...,NaN,M,1980,06292016,F,NaN,UA,5.54065e+10,00148,WT
629,738,2016,4,103,689,NEW,20545,1,NY,20553,...,NaN,M,1982,06292016,F,NaN,UA,5.54065e+10,00148,WT
9327,11229,2016,4,111,689,DAL,20545,1,NV,20547,...,NaN,M,1984,06292016,M,NaN,AA,5.54068e+10,00962,WT
9328,11230,2016,4,111,689,LVG,20545,1,NV,20551,...,NaN,M,1982,06292016,NaN,NaN,CM,5.54491e+10,00252,WB
9329,11231,2016,4,111,689,MIA,20545,1,FL,20549,...,NaN,M,1970,06292016,NaN,NaN,JJ,5.54067e+10,08090,WT

In [4]:
df2.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Ã…rhus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E

In [3]:
airport_codes = pd.read_csv("airport-codes_csv.csv")
brazil = pd.read_csv("brazil.csv")
#df4 = pd.read_csv("immigration_data_sample.csv")
#us_demographics = pd.read_csv("us-cities-demographics.csv",sep = ';')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
airport_codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [55]:
teste = brazil

In [4]:
brazil['i94port'] = brazil['i94port'].str.replace('NYC','JFK')

In [5]:
brazil['i94port'] = brazil['i94port'].str.replace('LOS','LAX')

In [47]:
teste.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
628,737,2016,4,103,689,NEW,20545,1,NY,20553,...,NaN,M,1980,06292016,F,NaN,UA,5.54065e+10,00148,WT
629,738,2016,4,103,689,NEW,20545,1,NY,20553,...,NaN,M,1982,06292016,F,NaN,UA,5.54065e+10,00148,WT
9327,11229,2016,4,111,689,DAL,20545,1,NV,20547,...,NaN,M,1984,06292016,M,NaN,AA,5.54068e+10,00962,WT
9328,11230,2016,4,111,689,LVG,20545,1,NV,20551,...,NaN,M,1982,06292016,NaN,NaN,CM,5.54491e+10,00252,WB
9329,11231,2016,4,111,689,MIA,20545,1,FL,20549,...,NaN,M,1970,06292016,NaN,NaN,JJ,5.54067e+10,08090,WT

In [71]:
z = brazil[brazil['i94port']=='LAX']
z

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
16802,20461.0,2016.0,4.0,126.0,689.0,LAX,20545.0,1.0,CA,20558.0,...,NaN,M,1948.0,06292016,F,NaN,AA,5.540877e+10,00216,WT
16803,20462.0,2016.0,4.0,126.0,689.0,LAX,20545.0,1.0,CA,20553.0,...,NaN,M,1972.0,06292016,M,NaN,AA,5.540849e+10,00216,WT
16804,20463.0,2016.0,4.0,126.0,689.0,LAX,20545.0,1.0,CA,20556.0,...,NaN,M,1949.0,06292016,M,NaN,AA,5.540848e+10,00216,WT
16805,20464.0,2016.0,4.0,126.0,689.0,LAX,20545.0,1.0,CA,20560.0,...,NaN,M,1946.0,06292016,M,NaN,AA,5.540881e+10,00216,WT
16831,20497.0,2016.0,4.0,126.0,689.0,LAX,20545.0,1.0,CA,20552.0,...,NaN,M,1971.0,09302016,M,NaN,AM,9.247620e+10,00019,B2
43656,51444.0,2016.0,4.0,148.0,689.0,LAX,20545.0,1.0,CA,20554.0,...,NaN,M,1962.0,06292016,NaN,NaN,AA,5.540853e+10,00216,WT
43657,51445.0,2016.0,4.0,148.0,689.0,LAX,20545.0,1.0,OR,20549.0,...,NaN,M,1972.0,06292016,M,NaN,AA,5.540850e+10,00216,WT
63948,77905.0,2016.0,4.0,254.0,689.0,LAX,20545.0,1.0,CA,20548.0,...,NaN,M,1953.0,06292016,NaN,NaN,KE,5.540430e+10,00062,WT
89486,206017.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20562.0,...,NaN,M,1942.0,09302016,F,NaN,LA,9.251707e+10,02604,B2
89667,206277.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20553.0,...,NaN,M,1965.0,09302016,NaN,NaN,AA,9.244821e+10,00216,B2
89668,206278.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20547.0,...,NaN,M,1953.0,09302016,NaN,NaN,QF,9.244513e+10,00015,B2
89669,206279.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20549.0,...,NaN,M,1982.0,09302016,NaN,NaN,AA,9.244666e+10,00216,B2
89670,206280.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20554.0,...,NaN,M,1985.0,09302016,NaN,NaN,AA,9.244718e+10,00216,B1
89671,206281.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20555.0,...,NaN,M,1979.0,09302016,NaN,NaN,AF,9.248346e+10,00066,B2
89672,206282.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20555.0,...,NaN,M,1984.0,09302016,NaN,NaN,CM,9.242173e+10,00302,B1
89673,206283.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20551.0,...,NaN,M,1975.0,09302016,M,NaN,AA,6.658622e+08,216,B2
89674,206284.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20555.0,...,NaN,M,1987.0,09302016,M,NaN,CM,6.665305e+08,360,B2
89675,206285.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20566.0,...,NaN,M,1944.0,09302016,M,NaN,AA,6.649346e+08,216,B2
89751,206364.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20554.0,...,NaN,M,1979.0,09302016,M,NaN,JJ,6.677194e+08,8086,B2
89850,206495.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,NY,20549.0,...,NaN,M,1968.0,09302016,F,NaN,AA,9.243234e+10,00974,B2
89851,206496.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,NY,20550.0,...,NaN,M,1972.0,09302016,F,NaN,JJ,9.243924e+10,08102,B2
89873,206520.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20555.0,...,NaN,M,1982.0,09302016,M,NaN,CM,9.248600e+10,00360,B2
89875,206522.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20560.0,...,NaN,M,1949.0,09302016,M,NaN,CM,9.248518e+10,00360,B2
89878,206525.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,CA,20557.0,...,NaN,M,1986.0,09302016,M,NaN,CM,9.248580e+10,00360,B2
89959,206607.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,2003.0,09302016,M,NaN,JJ,9.250375e+10,08048,B2
89960,206608.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,1977.0,09302016,F,NaN,AD,9.249794e+10,08706,B2
89961,206609.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,1982.0,09302016,M,NaN,AD,9.249803e+10,08706,B2
89962,206610.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,1983.0,09302016,F,NaN,AD,9.249848e+10,08706,B2
89963,206611.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,1987.0,09302016,M,NaN,AD,9.249856e+10,08706,B2
89964,206612.0,2016.0,4.0,689.0,689.0,LAX,20545.0,1.0,FL,20556.0,...,NaN,M,2014.0,09302016,M,NaN,AD,9.249806e+10,08706,B2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2898656,5889389.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20582.0,...,NaN,M,1961.0,10292016,F,NaN,AA,9.495964e+10,00216,B2
2898657,5889390.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20582.0,...,NaN,M,1977.0,10292016,M,NaN,AA,9.495989e+10,00216,B2
2898658,5889391.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20582.0,...,NaN,M,1978.0,10292016,M,NaN,AA,9.495973e+10,00216,B2
2898659,5889392.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20582.0,...,NaN,M,1987.0,10292016,M,NaN,AA,9.495976e+10,00216,B2
2898660,5889393.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20582.0,...,NaN,M,1989.0,10292016,F,NaN,AA,9.495971e+10,00216,B2
2898661,5889394.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20584.0,...,NaN,M,1945.0,10292016,M,NaN,AA,9.495937e+10,00216,B2
2898662,5889395.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,NV,20584.0,...,NaN,M,1953.0,10292016,F,NaN,AA,9.495945e+10,00216,B2
2898663,5889397.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,UT,20575.0,...,NaN,M,1987.0,D/S,M,NaN,AA,9.495930e+10,00216,F1
2898664,5889398.0,2016.0,4.0,689.0,689.0,LAX,20574.0,1.0,CA,NaN,...,NaN,NaN,1984.0,D/S,F,NaN,AA,9.495985e+10,00216,F1
2905804,5897776.0,2016.0,4.0,696.0,689.0,LAX,20574.0,1.0,CA,20579.0,...,NaN,M,1980.0,10292016,M,NaN,AA,9.496059e+10,00216,B2
3093112,4844678.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,NaN,20570.0,...,NaN,M,1981.0,05202016,M,NaN,NaN,7.992609e+10,00962,B1
3093113,1766463.0,2016.0,4.0,689.0,689.0,LAX,20553.0,3.0,WA,20554.0,...,NaN,M,1994.0,10082016,M,NaN,NaN,7.526230e+08,LAND,B2
3093114,2142871.0,2016.0,4.0,689.0,689.0,LAX,20555.0,3.0,WA,20560.0,...,NaN,M,1988.0,10092016,M,NaN,NaN,7.709847e+08,LAND,B2
3093115,2142771.0,2016.0,4.0,689.0,689.0,LAX,20555.0,3.0,NY,NaN,...,NaN,NaN,1958.0,10102016,F,NaN,NaN,7.757697e+08,LAND,B2
3093116,5192975.0,2016.0,4.0,689.0,689.0,LAX,20571.0,3.0,NaN,20572.0,...,NaN,M,1984.0,05142016,M,NaN,NaN,7.943502e+10,LAND,B2
3093117,616218.0,2016.0,4.0,689.0,689.0,LAX,20547.0,3.0,NaN,20554.0,...,NaN,M,1990.0,06202016,M,NaN,NaN,8.281338e+10,LAND,B2
3093118,4844680.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,NaN,20571.0,...,NaN,M,1997.0,08252016,F,NaN,NaN,8.911615e+10,LAND,B2
3093119,5804085.0,2016.0,4.0,574.0,689.0,LAX,20574.0,3.0,NaN,NaN,...,NaN,NaN,1975.0,09032016,M,NaN,NaN,8.973952e+10,00482,B2
3093120,4844693.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,NaN,20578.0,...,NaN,M,1998.0,09232016,M,NaN,NaN,9.179383e+10,LAND,B2
3093121,616216.0,2016.0,4.0,689.0,689.0,LAX,20547.0,3.0,NaN,20548.0,...,NaN,M,1972.0,09242016,M,NaN,NaN,9.182708e+10,08102,B2
3093122,3637026.0,2016.0,4.0,689.0,689.0,LAX,20563.0,3.0,NaN,20567.0,...,NaN,M,1986.0,10102016,M,NaN,NaN,9.331020e+10,08094,B2
3093123,3637025.0,2016.0,4.0,689.0,689.0,LAX,20563.0,3.0,NaN,20564.0,...,NaN,M,1958.0,10102016,F,NaN,NaN,9.331024e+10,08094,B2
3093124,2860174.0,2016.0,4.0,689.0,689.0,LAX,20559.0,3.0,WA,20560.0,...,NaN,M,1978.0,10142016,F,NaN,NaN,9.360184e+10,LAND,B2
3093125,5192972.0,2016.0,4.0,689.0,689.0,LAX,20571.0,3.0,NaN,20614.0,...,NaN,M,1978.0,10202016,M,NaN,NaN,9.409812e+10,00962,B2
3093126,5193020.0,2016.0,4.0,689.0,689.0,LAX,20571.0,3.0,CA,20572.0,...,NaN,M,1977.0,10212016,F,NaN,NaN,9.424428e+10,00019,B2
3093127,4844683.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,WA,NaN,...,NaN,NaN,1999.0,10242016,F,NaN,NaN,9.450505e+10,LAND,B2
3093128,4844682.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,IL,20572.0,...,NaN,M,1984.0,10242016,F,NaN,NaN,9.451055e+10,LAND,B2
3093129,4844681.0,2016.0,4.0,689.0,689.0,LAX,20569.0,3.0,IL,20572.0,...,NaN,M,1978.0,10242016,M,NaN,NaN,9.451071e+10,LAND,B2
3093130,5192973.0,2016.0,4.0,689.0,689.0,LAX,20571.0,3.0,NY,20576.0,...,NaN,M,1990.0,10262016,F,NaN,NaN,9.470767e+10,LAND,B2
3093131,2142769.0,2016.0,4.0,689.0,689.0,LAX,20555.0,3.0,DC,20629.0,...,NaN,M,1997.0,D/S,M,NaN,NaN,8.419913e+10,00149,F1

In [20]:
len(df4)

1000

In [26]:
us_demographics.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [19]:
dfz = df3[df3['iata_code']=='SKA']
dfz

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
29965,KSKA,large_airport,Fairchild Air Force Base,2461.0,NaN,US,US-WA,Spokane,KSKA,SKA,SKA,"-117.65599823, 47.6151008606"

In [6]:
brazil.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,628,737.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,...,NaN,M,1980.0,06292016,F,NaN,UA,5.540653e+10,00148,WT
1,629,738.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,...,NaN,M,1982.0,06292016,F,NaN,UA,5.540652e+10,00148,WT
2,9327,11229.0,2016.0,4.0,111.0,689.0,DAL,20545.0,1.0,NV,...,NaN,M,1984.0,06292016,M,NaN,AA,5.540677e+10,00962,WT
3,9328,11230.0,2016.0,4.0,111.0,689.0,LVG,20545.0,1.0,NV,...,NaN,M,1982.0,06292016,NaN,NaN,CM,5.544914e+10,00252,WB
4,9329,11231.0,2016.0,4.0,111.0,689.0,MIA,20545.0,1.0,FL,...,NaN,M,1970.0,06292016,NaN,NaN,JJ,5.540666e+10,08090,WT

In [7]:
braziliansInAirports = pd.merge(brazil,airport_codes,left_on=['i94port'], right_on=['iata_code'],how='inner')
braziliansInAirports.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,628,737.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,...,Lakefront Airport,8.0,NaN,US,US-LA,New Orleans,KNEW,NEW,NEW,"-90.028297424316, 30.042400360107"
1,629,738.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,...,Lakefront Airport,8.0,NaN,US,US-LA,New Orleans,KNEW,NEW,NEW,"-90.028297424316, 30.042400360107"
2,13692,16693.0,2016.0,4.0,117.0,689.0,NEW,20545.0,1.0,NY,...,Lakefront Airport,8.0,NaN,US,US-LA,New Orleans,KNEW,NEW,NEW,"-90.028297424316, 30.042400360107"
3,43654,51442.0,2016.0,4.0,148.0,689.0,NEW,20545.0,1.0,NJ,...,Lakefront Airport,8.0,NaN,US,US-LA,New Orleans,KNEW,NEW,NEW,"-90.028297424316, 30.042400360107"
4,89564,206161.0,2016.0,4.0,689.0,689.0,NEW,20545.0,1.0,NJ,...,Lakefront Airport,8.0,NaN,US,US-LA,New Orleans,KNEW,NEW,NEW,"-90.028297424316, 30.042400360107"

In [73]:
braziliansInAirports.groupby(['municipality','coordinates','iata_code']).size().to_frame(name = 'count').reset_index().sort_values(by=['count'],ascending=False)

,municipality,coordinates,iata_code,count
58,Miami,"-80.29060363769531, 25.79319953918457",MIA,36774
66,Orlando,"-81.332901, 28.5455",ORL,20030
61,New York,"-73.77890015, 40.63980103",JFK,17916
51,Los Angeles,"-118.4079971, 33.94250107",LAX,7390
41,Houston,"-95.27890015, 29.64539909",HOU,5614
3,Atlanta,"-84.428101, 33.6367",ATL,5021
24,Dallas,"-96.851799, 32.847099",DAL,4231
60,New Orleans,"-90.028297424316, 30.042400360107",NEW,3465
75,Point Hope,"-166.7989959716797, 68.34880065917969",PHO,2514
28,Detroit,"-83.00990295, 42.40919876",DET,1584
68,Palm Springs,"-116.50700378417969, 33.8297004699707",PSP,1565
52,Los Angeles,"-118.422, 34.289",SFR,1345
42,Kahului,"-156.429993, 20.8986",OGG,1121
93,Seattle,"-122.308998, 47.449001",SEA,930
26,Denver,"-104.672996521, 39.861698150635",DEN,680
105,Trier,"6.69250011444, 49.9726982117",SPM,675
33,Fort Myers,"-81.86329650879999, 26.58659935",FMY,619
101,Tampico,"-97.8658981323, 22.2964000702",TAM,577
104,Torrington,"-104.1529999, 42.0644989",TOR,507
10,Boston,"-71.00520325, 42.36429977",BOS,503
43,Kailua/Kona,"-156.045603, 19.738783",KOA,447
73,Pinheiro,"-45.067222595214844, -2.4836111068725586",PHI,331
87,Sand Point,"-160.5229949951172, 55.314998626708984",SDP,270
107,Victorville,"-117.383003235, 34.597499847399995",VCV,266
50,Lihue,"-159.33900451660156, 21.97599983215332",LIH,254
78,Port BergÃƒÂ©,"47.623587, -15.584286",WPB,249
89,Sarasota/Bradenton,"-82.55439758300781, 27.39539909362793",SRQ,205
6,Barcelona,"-64.692222, 10.111111",BLA,186
79,PoÃƒÂ§os De Caldas,"-46.567901611328, -21.843000411987",POO,179
16,Charlotte,"-80.94309997558594, 35.2140007019043",CLT,171
...,...,...,...,...
99,Sumter,"-80.361297607422, 33.994998931885",SUM,4
63,NorÃƒÂ°fjÃƒÂ¶rÃƒÂ°ur,"-13.746399879455566, 65.13189697265625",NOR,4
76,Pontes e Lacerda,"-59.3848, -15.1934",LCB,3
12,Buffalo,"-78.73220062, 42.94049835",BUF,3
83,Rochester,"-77.67240142822266, 43.118900299072266",ROC,3
84,Ruse,"26.056699752800004, 43.6948013306",ROU,3
37,Harrisburg,"-76.85150146480001, 40.2170982361",HAR,3
31,Eagle Pass,"-100.512001, 28.85720062",EGP,3
36,Harrisburg,"-76.7633972168, 40.1935005188",MDT,3
100,Syracuse,"-76.1063003540039, 43.11119842529297",SYR,2
55,Manus Island,"147.423996, -2.06189",MAS,2
80,Puerto Maldonado,"-69.2285995483, -12.6135997772",PEM,2
72,Pinar Del Rio,"-84.1520004272461, 22.095300674438477",SNJ,2
5,Austin,"-97.6698989868164, 30.194499969482422",AUS,2
11,Brownsville,"-97.4259033203125, 25.90679931640625",BRO,2
25,Dalnerechensk,"133.7363, 45.8783",DLR,2
29,Dourados,"-54.926601, -22.2019",DOU,2
109,Yoro,"-87.135, 15.1275",ORO,2
54,Macenta,"-9.525071, 8.481857",MCA,1
48,Lexington,"-84.60590362548828, 38.0364990234375",LEX,1
56,Melbourne,"-80.64530181884766, 28.102800369262695",MLB,1
46,Lamen Bay,"168.158996582, -16.584199905400002",LNB,1
38,Hatgal,"100.139532, 50.435988",HTM,1
34,Halali,"16.4585, -19.0285",HAL,1
65,Orlando,"-81.23750305175781, 28.777599334716797",SFB,1
95,Spokane,"-117.65599823, 47.6151008606",SKA,1
15,Castries,"-60.992901, 14.0202",SLU,1
70,Perry,"-94.15989685, 41.82799911",PRO,1
71,Phnom Penh,"104.84400177001953, 11.546600341796875",PNH,1
47,Laramie,"-105.67500305175781, 41.31209945678711",LAR,1

In [67]:
braziliansInAirports.to_csv("Brazilians-In-Airports2.csv")

In [8]:

df = braziliansInAirports
new = df["coordinates"].str.split(", ", n = 1, expand = True)
df['lat'] = new[1]
df['lon'] = new[0]
df = df.groupby(['municipality', 'lat','lon']).size().to_frame(name = 'count').reset_index()
df.to_csv("braziliansinairports.csv",index=False)

In [9]:
df.head()

          municipality                 lat                 lon  count
0               Agadir  30.325000762939453  -9.413069725036621     14
1            Aguadilla   18.49489974975586  -67.12940216064453      8
2  Angus Downs Station            -25.0325            132.2748     31
3              Atlanta             33.6367          -84.428101   5021
4      Auburn/Lewiston        44.048500061      -70.2835006714     20

In [ ]:
import plotly.graph_objects as go

import pandas as pd

df = braziliansInAirports
new = df["coordinates"].str.split(", ", n = 1, expand = True)
df['lat'] = new[1]
df['lon'] = new[0]
df = df.groupby(['municipality', 'lat','lon']).size().to_frame(name = 'count').reset_index()


df['text'] = df['municipality'] + '<br>Arrivals '+ df['count'].astype(str)
limits = [(0,2),(3,10),(11,20),(21,50),(50,3000)]
colors = ["royalblue","crimson","lightseagreen","orange","lightgrey"]
cities = []
scale = 2

fig = go.Figure()

for i in range(len(limits)):
    lim = limits[i]
    df_sub = df[lim[0]:lim[1]]
    fig.add_trace(go.Scattergeo(
        locationmode = 'USA-states',
        lon = df_sub['lon'],
        lat = df_sub['lat'],
        text = df_sub['text'],
        marker = dict(
            size = df_sub['count']/scale,
            color = colors[i],
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'
        ),
        name = '{0} - {1}'.format(lim[0],lim[1])))

fig.update_layout(
        title_text = '2016 US city brazilian arrivals<br>(Click legend to toggle traces)',
        showlegend = True,
        geo = dict(
            scope = 'usa',
            landcolor = 'rgb(217, 217, 217)',
        )
    )

fig.show()

![Map](mapz.png "Map")

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

df_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')
df_spark = df_spark\
        .na.fill({
            'cicid':0.0,'i94yr':0.0,'i94mon':0.0,'i94cit':0.0,\
            'i94res':0.0,'i94port':'NA','arrdate':0.0,\
            'i94mode': 0.0, 'i94addr': 'NA','depdate': 0.0, \
            'i94bir': 0.0, 'i94visa': 0.0, 'count': 0.0, \
            'dtadfile': 'NA', 'visapost': 'NA', 'occup': 'NA', \
            'entdepa': 'NA', 'entdepd': 'NA', 'entdepu': 'NA', \
            'matflag': 'NA', 'biryear': 0.0, 'dtaddto': 'NA', \
            'gender': 'NA', 'insnum': 'NA', 'airline': 'NA', \
            'admnum': 0.0, 'fltno': 'NA', 'visatype': 'NA'
            })

In [10]:
df_spark.write.option("header",True).csv("dfcapstone")

In [11]:
df_spark=spark.read.csv("dfcapstone")

In [27]:
#write to parquet
df_spark.write.parquet("sas_data")
df_spark=spark.read.parquet("sas_data")

In [12]:
df_spark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)

In [40]:
df_spark.take(5)

[Row(cicid=5748517.0, i94yr=2016.0, i94mon=4.0, i94cit=245.0, i94res=438.0, i94port='LOS', arrdate=20574.0, i94mode=1.0, i94addr='CA', depdate=20582.0, i94bir=40.0, i94visa=1.0, count=1.0, dtadfile='20160430', visapost='SYD', occup='NA', entdepa='G', entdepd='O', entdepu='NA', matflag='M', biryear=1976.0, dtaddto='10292016', gender='F', insnum='NA', airline='QF', admnum=94953870030.0, fltno='00011', visatype='B1'),
 Row(cicid=5748518.0, i94yr=2016.0, i94mon=4.0, i94cit=245.0, i94res=438.0, i94port='LOS', arrdate=20574.0, i94mode=1.0, i94addr='NV', depdate=20591.0, i94bir=32.0, i94visa=1.0, count=1.0, dtadfile='20160430', visapost='SYD', occup='NA', entdepa='G', entdepd='O', entdepu='NA', matflag='M', biryear=1984.0, dtaddto='10292016', gender='F', insnum='NA', airline='VA', admnum=94955622830.0, fltno='00007', visatype='B1'),
 Row(cicid=5748519.0, i94yr=2016.0, i94mon=4.0, i94cit=245.0, i94res=438.0, i94port='LOS', arrdate=20574.0, i94mode=1.0, i94addr='WA', depdate=20582.0, i94bir=29.0, i94visa=1.0, count=1.0, dtadfile='20160430', visapost='SYD', occup='NA', entdepa='G', entdepd='O', entdepu='NA', matflag='M', biryear=1987.0, dtaddto='10292016', gender='M', insnum='NA', airline='DL', admnum=94956406530.0, fltno='00040', visatype='B1'),
 Row(cicid=5748520.0, i94yr=2016.0, i94mon=4.0, i94cit=245.0, i94res=438.0, i94port='LOS', arrdate=20574.0, i94mode=1.0, i94addr='WA', depdate=20588.0, i94bir=29.0, i94visa=1.0, count=1.0, dtadfile='20160430', visapost='SYD', occup='NA', entdepa='G', entdepd='O', entdepu='NA', matflag='M', biryear=1987.0, dtaddto='10292016', gender='F', insnum='NA', airline='DL', admnum=94956451430.0, fltno='00040', visatype='B1'),
 Row(cicid=5748521.0, i94yr=2016.0, i94mon=4.0, i94cit=245.0, i94res=438.0, i94port='LOS', arrdate=20574.0, i94mode=1.0, i94addr='WA', depdate=20588.0, i94bir=28.0, i94visa=1.0, count=1.0, dtadfile='20160430', visapost='SYD', occup='NA', entdepa='G', entdepd='O', entdepu='NA', matflag='M', biryear=1988.0, dtaddto='10292016', gender='M', insnum='NA', airline='DL', admnum=94956388130.0, fltno='00040', visatype='B1')]

In [ ]:
df_spark.collect()[843]

### Step 2: Explore and Assess the Data
#### Explore the Data 
The presented data was relatively good, well cleaned, but had quite a few entire city names listed as i94 ports, which required some manual cleaning of the data above

#### Cleaning Steps
Altered all city airport codes for specific airport codes before inner joining with airport codes dataset

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
The data model is an inner join between a filtered dataset of arrivals, by the code assigned to brazil (689), and the airport codes through the iana airport code, and grouped by and counted by individual rows of arrivals, reduced to the count of arrivals, municipality, latitute and longitude, displayed in a geographic map of the united states through a bubble graph using plotly graph objects.

#### 3.2 Mapping Out Data Pipelines
The data is mapped utilizing spark and could be fed from redshift to a dash webpage live, meaning the data could be increased 100x, the pipelines could be run on a daily basis by 7 am every day (or ran every second), and the database could be accessed in redshift by 100+ people.

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [10]:
import pandas as pd
import boto3
import json


import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

In [11]:


import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-east-1'
                  )

redshift = boto3.client('redshift',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [4]:


sampleDbBucket =  s3.Bucket("awssampledbuswest2")
for obj in sampleDbBucket.objects.filter(Prefix="ssbgz"):
    print(obj)
# for obj in sampleDbBucket.objects.all():
#     print(obj)

s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/customer0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/dwdate.tbl.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0004_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0005_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0006_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0007_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier.tbl_0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0003_part_00.gz')

In [5]:


from botocore.exceptions import ClientError
#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::006692115187:role/dwhRole

In [ ]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))


import pandas as pd
import boto3
import json



KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-east-1'
                  )

redshift = boto3.client('redshift',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )


from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

In [6]:


try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

In [13]:


def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0a40083bdaf72f4d0
7,NumberOfNodes,4

In [14]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::006692115187:role/dwhRole

In [19]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0240fa3a38c1e4c89')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [15]:
%load_ext sql

In [16]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [4]:


#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DeleteCluster operation: Cluster dwhcluster not found.

In [5]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'RequestId': '7404dd0b-e101-4765-ac39-9a669699f9bd',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '7404dd0b-e101-4765-ac39-9a669699f9bd',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Sun, 06 Mar 2022 21:53:08 GMT'},
  'RetryAttempts': 0}}

In [61]:
%sql DROP TABLE IF EXISTS staging_i94

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
Done.

[]

In [71]:
%sql DROP TABLE IF EXISTS staging_airport

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
Done.

[]

In [14]:
%%sql
CREATE TABLE IF NOT EXISTS staging_i94 (
    cicid       VARCHAR                 NULL,
    i94yr       VARCHAR                 NULL,
    i94mon      VARCHAR                 NULL,
    i94cit      VARCHAR                 NULL,
    i94res      VARCHAR                 NULL,
    i94port     VARCHAR                 NULL,
    arrdate     VARCHAR                 NULL,
    i94mode     VARCHAR                 NULL,
    i94addr     VARCHAR                 NULL,
    depdate     VARCHAR                 NULL,
    i94bir      VARCHAR                 NULL,
    i94visa     VARCHAR                 NULL,
    count       VARCHAR                NULL,
    dtadfile    VARCHAR                  NULL, 
    visapost    VARCHAR                 NULL,
    occup       VARCHAR                 NULL,
    entdepa     VARCHAR                 NULL,
    entdepd     VARCHAR                 NULL,
    entdepu     VARCHAR                 NULL,
    matflag     VARCHAR                 NULL,
    biryear     VARCHAR                NULL,
    dtaddto     VARCHAR                  NULL,
    gender      VARCHAR                 NULL,
    isnum       VARCHAR                 NULL,
    airline     VARCHAR                 NULL,
    admnum      VARCHAR                  NULL,
    fltno       VARCHAR                 NULL,
    visatype    VARCHAR                 NULL
);

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
Done.

[]

In [15]:
%%sql
CREATE TABLE IF NOT EXISTS staging_airport(
            ident               VARCHAR         NOT NULL SORTKEY DISTKEY,
            type                VARCHAR         NULL,
            name                VARCHAR         NULL,
            elevation_ft        VARCHAR         NULL,
            continent           VARCHAR         NULL,
            iso_country         VARCHAR         NULL,
            iso_region          VARCHAR         NULL,
            municipality        VARCHAR         NOT NULL,
            gps_code            VARCHAR         NULL,
            iata_code           VARCHAR         NOT NULL,
            local_code          VARCHAR         NULL,
            coordinates         VARCHAR         NOT NULL
);

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
Done.

[]

In [42]:
%%sql
CREATE TABLE IF NOT EXISTS braziliansinairports (
            municipality    VARCHAR             NOT NULL,
            lat             VARCHAR             NOT NULL DISTKEY SORTKEY,
            lon             VARCHAR             NOT NULL,
            count           VARCHAR             NOT NULL
);

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
Done.

[]

In [41]:
%sql DROP TABLE IF EXISTS braziliansinairports

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
Done.

[]

In [41]:
sql = "select * from staging_i94;"
dat = pd.read_sql_query(sql, conn)

In [42]:
dat

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,isnum,airline,admnum,fltno,visatype
0,11233.0,2016.0,4.0,111.0,689.0,HOU,20545.0,1.0,TX,20574.0,...,,M,1998.0,D/S,F,,UA,92437932730.0,00128,F1
1,16697.0,2016.0,4.0,117.0,689.0,FTL,20545.0,1.0,FL,20555.0,...,,M,1951.0,06292016,,,AD,55406329033.0,08704,WT
2,16705.0,2016.0,4.0,117.0,689.0,HOU,20545.0,1.0,NV,20554.0,...,,M,1980.0,06292016,F,,UA,55407248533.0,00128,WT
3,16713.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,NY,20549.0,...,,M,1978.0,06292016,F,,JJ,55407524433.0,08078,WT
4,16721.0,2016.0,4.0,117.0,689.0,NYC,20545.0,1.0,NY,20550.0,...,,M,1984.0,06292016,F,,AA,55406648033.0,00950,WT
5,16729.0,2016.0,4.0,117.0,689.0,ORL,20545.0,1.0,FL,20551.0,...,,M,1989.0,06292016,,,JJ,55450716933.0,08086,WT
6,16738.0,2016.0,4.0,117.0,689.0,MIA,20545.0,1.0,FL,20550.0,...,,M,1975.0,06292016,F,,JJ,55406697633.0,08090,WT
7,16746.0,2016.0,4.0,117.0,689.0,MIA,20545.0,1.0,FL,20558.0,...,,M,1973.0,06292016,M,,JJ,55406688433.0,08090,WT
8,16755.0,2016.0,4.0,117.0,689.0,MIA,20545.0,1.0,NV,20553.0,...,,M,1983.0,06292016,,,AA,55406103633.0,00904,WT
9,20445.0,2016.0,4.0,126.0,689.0,ATL,20545.0,1.0,NC,20554.0,...,,M,1941.0,06292016,M,,DL,55406761833.0,00104,WT
10,20455.0,2016.0,4.0,126.0,689.0,HOU,20545.0,1.0,TX,,...,,,1985.0,06292016,F,,UA,55407390633.0,00128,WT
11,20463.0,2016.0,4.0,126.0,689.0,LOS,20545.0,1.0,CA,20556.0,...,,M,1949.0,06292016,M,,AA,55408482333.0,00216,WT
12,20471.0,2016.0,4.0,126.0,689.0,ORL,20545.0,1.0,FL,20551.0,...,,M,1985.0,06292016,M,,CM,664444085.0,434,WT
13,20481.0,2016.0,4.0,126.0,689.0,MIA,20545.0,1.0,FL,20551.0,...,,M,1984.0,06292016,F,,AA,55406151233.0,00904,WT
14,20491.0,2016.0,4.0,126.0,689.0,MIA,20545.0,1.0,RI,20548.0,...,,M,1981.0,06292016,F,,AA,55405911033.0,00930,WT
15,23389.0,2016.0,4.0,129.0,689.0,HOU,20545.0,1.0,NY,20546.0,...,,M,1975.0,06292016,F,,UA,55407272333.0,00128,WT
16,51441.0,2016.0,4.0,148.0,689.0,DAL,20545.0,1.0,TX,20564.0,...,,M,1957.0,06292016,F,,AA,55406934033.0,00962,WT
17,51449.0,2016.0,4.0,148.0,689.0,MIA,20545.0,1.0,,20554.0,...,,M,1955.0,06292016,F,,AA,55406063233.0,00904,WT
18,73002.0,2016.0,4.0,245.0,689.0,NYC,20545.0,1.0,NY,20572.0,...,,M,1950.0,09302016,F,,JJ,92444640930.0,08080,B2
19,129117.0,2016.0,4.0,574.0,689.0,FTL,20545.0,1.0,FL,20548.0,...,,M,1962.0,09302016,,,AD,92427562430.0,08704,B2
20,206003.0,2016.0,4.0,689.0,689.0,CLM,20545.0,1.0,CA,20587.0,...,,M,1997.0,D/S,F,,UA,92469771230.0,01653,F1
21,206019.0,2016.0,4.0,689.0,689.0,ORL,20545.0,1.0,FL,20569.0,...,,M,1982.0,09302016,F,,JJ,92503349730.0,08048,B2
22,206101.0,2016.0,4.0,689.0,689.0,ATL,20545.0,1.0,,20549.0,...,,M,1965.0,09302016,M,,DL,665639485.0,104,B2
23,206109.0,2016.0,4.0,689.0,689.0,ATL,20545.0,1.0,FL,20552.0,...,,M,1964.0,09302016,,,DL,92434895830.0,00060,B2
24,206120.0,2016.0,4.0,689.0,689.0,ATL,20545.0,1.0,GA,20562.0,...,,M,1941.0,09302016,,,DL,92435530030.0,00060,B2
25,206128.0,2016.0,4.0,689.0,689.0,ATL,20545.0,1.0,MA,20552.0,...,,M,1975.0,09302016,,,DL,92429395830.0,00104,B2
26,206136.0,2016.0,4.0,689.0,689.0,ATL,20545.0,1.0,NV,20559.0,...,,M,1985.0,09302016,,,DL,92434957130.0,00060,B2
27,206144.0,2016.0,4.0,689.0,689.0,ATL,20545.0,1.0,TN,20552.0,...,,M,1974.0,09302016,,,DL,92429879830.0,00104,B1
28,206155.0,2016.0,4.0,689.0,689.0,DAL,20545.0,1.0,FL,20555.0,...,,M,1985.0,09302016,,,AA,92430833030.0,00962,B2
29,206165.0,2016.0,4.0,689.0,689.0,WAS,20545.0,1.0,FL,20575.0,...,,M,1987.0,09302016,M,,UA,668574685.0,975,B2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134878,423948.0,2016.0,4.0,689.0,689.0,PHO,20546.0,3.0,,20547.0,...,,M,2011.0,05202016,F,,,79965328830.0,LAND,B2
134879,423944.0,2016.0,4.0,689.0,689.0,PHO,20546.0,3.0,,20547.0,...,,M,1977.0,08052016,F,,,87523333430.0,LAND,B2
134880,423974.0,2016.0,4.0,689.0,689.0,PHO,20546.0,3.0,CA,20556.0,...,,M,1968.0,09292016,M,,,92357202830.0,00216,B2
134881,424060.0,2016.0,4.0,689.0,689.0,PHO,20546.0,3.0,WA,20547.0,...,,M,1990.0,10012016,F,,,92585531630.0,LAND,B2
134882,5191827.0,2016.0,4.0,689.0,689.0,PHO,20571.0,3.0,,20575.0,...,,M,1972.0,10202016,M,,,94107960030.0,08080,B2
134883,1146603.0,2016.0,4.0,689.0,689.0,PHR,20550.0,3.0,TX,20551.0,...,,M,1982.0,10032016,F,,,92704387530.0,00104,B1
134884,4460941.0,2016.0,4.0,689.0,689.0,PHU,20567.0,3.0,,20568.0,...,,M,1988.0,09172016,M,,,91030688030.0,LAND,B2
134885,3475979.0,2016.0,4.0,689.0,689.0,PHU,20562.0,3.0,IL,20565.0,...,,M,1971.0,10172016,M,,,93878498130.0,LAND,B2
134886,5888266.0,2016.0,4.0,689.0,689.0,PHU,20574.0,3.0,IL,20646.0,...,,M,1984.0,10292016,F,,,94947146330.0,LAND,B2
134887,5193105.0,2016.0,4.0,689.0,689.0,PSP,20571.0,3.0,FL,20574.0,...,,M,1985.0,10262016,M,,,94664254830.0,LAND,B2
134888,4022465.0,2016.0,4.0,689.0,689.0,RAY,20565.0,3.0,MT,20568.0,...,,M,1991.0,10202016,M,,,94170244830.0,LAND,B2
134889,3639601.0,2016.0,4.0,689.0,689.0,SDP,20563.0,3.0,FL,20564.0,...,,M,1979.0,10102016,M,,,93243429730.0,00196,B2
134890,2542460.0,2016.0,4.0,213.0,689.0,SFR,20558.0,3.0,,20559.0,...,,M,1983.0,07102016,M,,,85087379830.0,00274,B1
134891,419944.0,2016.0,4.0,689.0,689.0,SPM,20546.0,3.0,TX,20607.0,...,,M,1978.0,05212016,M,,,80044078730.0,LAND,B2
134892,5645401.0,2016.0,4.0,689.0,689.0,SRQ,20573.0,3.0,,20574.0,...,,M,1974.0,08022016,F,,,87201300130.0,LAND,B2
134893,5959538.0,2016.0,4.0,689.0,689.0,STR,20574.0,3.0,TX,20575.0,...,,M,1975.0,10292016,F,,,94984363030.0,LAND,B2
134894,5408089.0,2016.0,4.0,689.0,689.0,SUM,20572.0,3.0,WA,20599.0,...,,M,1964.0,06102016,F,,,81599712430.0,LAND,B2
134895,974695.0,2016.0,4.0,689.0,689.0,SYS,20549.0,3.0,,20590.0,...,,M,1966.0,04062016,F,,,76135698030.0,LAND,B2
134896,1549947.0,2016.0,4.0,689.0,689.0,SYS,20552.0,3.0,IL,20578.0,...,,M,1946.0,07052016,F,,,84634539030.0,LAND,B2
134897,2295505.0,2016.0,4.0,689.0,689.0,SYS,20556.0,3.0,NV,20561.0,...,,M,1980.0,09242016,F,,,91889381030.0,00252,B2
134898,3287144.0,2016.0,4.0,689.0,689.0,SYS,20561.0,3.0,CA,20568.0,...,,M,1967.0,10082016,F,,,93089121730.0,00128,B2
134899,5404548.0,2016.0,4.0,689.0,689.0,SYS,20572.0,3.0,CA,,...,,,1977.0,10272016,M,,,94780909830.0,LAND,B2
134900,1766392.0,2016.0,4.0,689.0,689.0,SYS,20553.0,3.0,CA,20559.0,...,,M,1993.0,D/S,M,,,84581709830.0,00962,F1
134901,618621.0,2016.0,4.0,689.0,689.0,SYS,20547.0,3.0,CA,20588.0,...,,M,1997.0,D/S,M,,,90555761130.0,00906,F1
134902,3067626.0,2016.0,4.0,689.0,689.0,TEC,20560.0,3.0,CA,20602.0,...,,M,1980.0,10152016,F,,,93716731230.0,LAND,B2
134903,3416993.0,2016.0,4.0,574.0,689.0,THO,20562.0,3.0,,20648.0,...,,M,1950.0,08052016,F,,,88698361730.0,01293,B2
134904,4842557.0,2016.0,4.0,689.0,689.0,THO,20569.0,3.0,NY,20574.0,...,,M,1958.0,10242016,M,,,94472312030.0,LAND,B2
134905,5005402.0,2016.0,4.0,689.0,689.0,VIC,20570.0,3.0,WA,20673.0,...,,M,1980.0,10252016,M,,,94612452030.0,LAND,B2
134906,1146640.0,2016.0,4.0,689.0,689.0,YSL,20550.0,3.0,IL,20553.0,...,,M,1983.0,10052016,M,,,699255485.0,LAND,B2
134907,1766410.0,2016.0,4.0,689.0,689.0,YSL,20553.0,3.0,TX,20554.0,...,,M,1956.0,10012016,M,,,92555818830.0,LAND,B2

In [52]:
import psycopg2
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

In [18]:
query = """
COPY staging_airport
FROM 's3://astrogildopereirajunior/airport-codes_csv.csv'
credentials 'aws_iam_role={}'
csv;""".format(config.get('IAM_ROLE', 'ARN'))
print(query)
cur.execute(query)
conn.commit()

COPY staging_airport
FROM 's3://astrogildopereirajunior/airport-codes_csv.csv'
credentials 'aws_iam_role=arn:aws:iam::006692115187:role/dwhRole'
csv;

In [66]:
query = """
    COPY staging_i94
    FROM 's3://astrogildopereirajunior/brazil2.csv'
    credentials 'aws_iam_role={}'
    csv;
""".format(config.get('IAM_ROLE', 'ARN'))
cur.execute(query)
conn.commit()

In [19]:
cur = conn.cursor()
query = """
    COPY staging_i94
    FROM 's3://astrogildopereirajunior/staging_i94.csv'
    credentials 'aws_iam_role={}'
    csv;
""".format(config.get('IAM_ROLE', 'ARN'))
#.format(config.get('IAM_ROLE', 'ARN'))
cur.execute(query)
conn.commit()

In [66]:
dfbrazil = pd.read_csv('brazil.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [71]:
dfbrazil.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,628,737.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,...,NaN,M,1980.0,06292016,F,NaN,UA,5.540653e+10,00148,WT
1,629,738.0,2016.0,4.0,103.0,689.0,NEW,20545.0,1.0,NY,...,NaN,M,1982.0,06292016,F,NaN,UA,5.540652e+10,00148,WT
2,9327,11229.0,2016.0,4.0,111.0,689.0,DAL,20545.0,1.0,NV,...,NaN,M,1984.0,06292016,M,NaN,AA,5.540677e+10,00962,WT
3,9328,11230.0,2016.0,4.0,111.0,689.0,LVG,20545.0,1.0,NV,...,NaN,M,1982.0,06292016,NaN,NaN,CM,5.544914e+10,00252,WB
4,9329,11231.0,2016.0,4.0,111.0,689.0,MIA,20545.0,1.0,FL,...,NaN,M,1970.0,06292016,NaN,NaN,JJ,5.540666e+10,08090,WT

In [76]:
df2 = pd.read_csv("brazil2.csv")

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [87]:
len(df2['cicid'].unique())

134907

In [75]:
df2.to_csv('brazil2.csv',index=False)

In [ ]:
sql = "select * from staging_airport;"
airport_codes = pd.read_sql_query(sql, conn)
sql = "select * from staging_i94;"
df_i94 = pd.read_sql_query(sql, conn)
print("queried both tables")
brazil = df_i94[df_i94['i94res']==689]
brazil['i94port'] = brazil['i94port'].str.replace('NYC','JFK')
brazil['i94port'] = brazil['i94port'].str.replace('LOS','LAX')
braziliansInAirports = pd.merge(brazil,airport_codes,left_on=['i94port'], right_on=['iata_code'],how='inner')
braziliansInAirports = braziliansInAirports.groupby(['municipality','coordinates','iata_code']).size().to_frame(name = 'count').reset_index().sort_values(by=['count'],ascending=False)
print("processed part 1")
df = braziliansInAirports
new = df["coordinates"].str.split(", ", n = 1, expand = True)
df['lat'] = new[1]
df['lon'] = new[0]
df = df.groupby(['municipality', 'lat','lon']).size().to_frame(name = 'count').reset_index()

In [31]:
df

,municipality,lat,lon,count
0,Agadir,30.325000762939453,-9.413069725036621,14
1,Aguadilla,18.49489974975586,-67.12940216064453,8
2,Angus Downs Station,-25.0325,132.2748,31
3,Atlanta,33.6367,-84.428101,5021
4,Auburn/Lewiston,44.048500061,-70.2835006714,20
5,Austin,30.194499969482422,-97.6698989868164,2
6,Barcelona,10.111111,-64.692222,186
7,Batman,37.929000854499996,41.1166000366,34
8,Bedford,42.47000122,-71.28900146,13
9,Boma,-5.854000091552734,13.064000129699707,32
10,Boston,42.36429977,-71.00520325,503
11,Brownsville,25.90679931640625,-97.4259033203125,2
12,Buffalo,42.94049835,-78.73220062,3
13,Campbeltown,55.437198638916016,-5.686389923095703,11
14,Carroll,42.0461997986,-94.78900146480001,26
15,Castries,14.0202,-60.992901,1
16,Charlotte,35.2140007019043,-80.94309997558594,171
17,"Charlotte Amalie, Harry S. Truman Airport",18.337299346923828,-64.97339630126953,6
18,Chehalis,46.676998138399995,-122.983001709,4
19,Chennai,12.990005493164062,80.16929626464844,20
20,Chimbote,-9.149609565734863,-78.5238037109375,43
21,Cleveland,41.4117012024,-81.8498001099,26
22,Coalinga,36.16310119628906,-120.29399871826172,29
23,CotriguaÃƒÂ§u,-9.898611,-58.581944,7
24,Dallas,32.847099,-96.851799,4231
25,Dalnerechensk,45.8783,133.7363,2
26,Denver,39.861698150635,-104.672996521,680
27,Derim,-6.14472222222,147.107222222,19
28,Detroit,42.40919876,-83.00990295,1584
29,Dourados,-22.2019,-54.926601,2
...,...,...,...,...
80,Puerto Maldonado,-12.6135997772,-69.2285995483,2
81,PÃƒÂ©cs-PogÃƒÂ¡ny,45.990898,18.240996,78
82,Raleigh/Durham,35.877601623535156,-78.7874984741211,41
83,Rochester,43.118900299072266,-77.67240142822266,3
84,Ruse,43.6948013306,26.056699752800004,3
85,Salt Lake City,40.78839874267578,-111.97799682617188,107
86,San Miguel de TucumÃƒÂ¡n,-26.8409,-65.104897,7
87,Sand Point,55.314998626708984,-160.5229949951172,270
88,Santa Ana,33.67570114,-117.8679962,7
89,Sarasota/Bradenton,27.39539909362793,-82.55439758300781,205
90,Saratoga,41.444901,-106.823997,76
91,Saskylakh,71.92790222168,114.08000183105,56
92,Savannah,32.12760162,-81.20210266,12
93,Seattle,47.449001,-122.308998,930
94,Sepulot,4.732999801635742,116.46700286865234,84
95,Spokane,47.6151008606,-117.65599823,1
96,St Leonard,47.157501220703125,-67.83470153808594,20
97,St Louis,38.748697,-90.370003,11
98,Stuttgart,48.689899444599995,9.22196006775,11
99,Sumter,33.994998931885,-80.361297607422,4
100,Syracuse,43.11119842529297,-76.1063003540039,2
101,Tampico,22.2964000702,-97.8658981323,577
102,TelÃƒÂªmaco Borba,-24.317800521850586,-50.6515998840332,4
103,Thorshofn,66.21849822998047,-15.335599899291992,18
104,Torrington,42.0644989,-104.1529999,507
105,Trier,49.9726982117,6.69250011444,675
106,Vicenza,45.573399,11.5295,6
107,Victorville,34.597499847399995,-117.383003235,266
108,White Plains,41.06700134277344,-73.70760345458984,13
109,Yoro,15.1275,-87.135,2

In [44]:
df['count'] = df['count'].astype(str)

In [45]:
df.dtypes

municipality    object
lat             object
lon             object
count           object
dtype: object

In [48]:
query = """
INSERT into braziliansinairports(municipality, lat, lon, count) values('%s','%s','%s','%s');
""" % (df['municipality'], df['lat'], df['lon'],df['count'])
cur.execute(query)
conn.commit()

DataError: value too long for type character varying(256)

In [50]:
upload_file('braziliansinairports.csv','astrogildopereirajunior')

True

In [53]:
cur = conn.cursor()
query = """
    COPY braziliansinairports
    FROM 's3://astrogildopereirajunior/braziliansinairports.csv'
    credentials 'aws_iam_role={}'
    csv;
""".format(config.get('IAM_ROLE', 'ARN'))
cur.execute(query)
conn.commit()

In [ ]:
df.to_csv("inairports.csv",index=False)

In [80]:
%sql select * from stl_load_errors;

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
6 rows affected.

[(100, 4, 101843, datetime.datetime(2022, 3, 5, 23, 14, 48, 778717), 1073884423, 2434, 's3://astrogildopereirajunior/brazil.csv                                                                                                                                                                                                                         ', 1, 'cicid                                                                                                                          ', 'numeric   ', '18, 0     ', 0, ',cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matfla ... (726 characters truncated) ...                                                                                                                                                      ', '                                                                                                                                                      ... (726 characters truncated) ...                                                                                                                                                      ', 1213, 'Missing data for not-null field                                                                     ', 0, 0),
 (100, 3, 101834, datetime.datetime(2022, 3, 5, 22, 51, 19, 810158), 1073802524, 2121, 's3://astrogildopereirajunior/brazil.csv                                                                                                                                                                                                                         ', 1, 'i94yr                                                                                                                          ', 'numeric   ', '18, 0     ', 1, ',cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matfla ... (726 characters truncated) ...                                                                                                                                                      ', 'cicid                                                                                                                                                 ... (726 characters truncated) ...                                                                                                                                                      ', 1207, "Invalid digit, Value 'c', Pos 0, Type: Decimal                                                      ", 0, 0),
 (100, 3, 101854, datetime.datetime(2022, 3, 5, 23, 21, 17, 725942), 1073778433, 2545, 's3://astrogildopereirajunior/brazil.csv                                                                                                                                                                                                                         ', 1, 'i94yr                                                                                                                          ', 'numeric   ', '18, 0     ', 1, ',cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matfla ... (726 characters truncated) ...                                                                                                                                                      ', 'cicid                                                                                                                                                 ... (726 characters truncated) ...                                                                                                                                                      ', 1207, "Invalid digit, Value 'c', Pos 0, Type: Decimal                                                      ", 0, 0),
 (100, 0, 101856, datetime.datetime(2022, 3, 5, 23, 33, 4, 292588), 1073926142, 2672, 's3://astrogildopereirajunior/brazil2.csv                                                                                                                                                                                                                        ', 1, 'cicid                                                                                                                          ', 'numeric   ', '18, 0     ', 0, 'cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag ... (726 characters truncated) ...                                                                                                                                                      ', 'cicid                                                                                                                                                 ... (726 characters truncated) ...                                                                                                                                                      ', 1207, "Invalid digit, Value 'c', Pos 0, Type: Decimal                                                      ", 0, 0),
 (100, 7, 101841, datetime.datetime(2022, 3, 5, 23, 7, 48, 710011), 1073778215, 2331, 's3://astrogildopereirajunior/brazil.csv                                                                                                                                                                                                                         ', 1, 'i94yr                                                                                                                          ', 'numeric   ', '18, 0     ', 1, ',cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matfla ... (726 characters truncated) ...                                                                                                                                                      ', 'cicid                                                                                                                                                 ... (726 characters truncated) ...                                                                                                                                                      ', 1207, "Invalid digit, Value 'c', Pos 0, Type: Decimal                                                      ", 0, 0),
 (100, 7, 101850, datetime.datetime(2022, 3, 5, 23, 18, 25, 210247), 1073909489, 2503, 's3://astrogildopereirajunior/brazil.csv                                                                                                                                                                                                                         ', 1, 'i94yr                                                                                                                          ', 'numeric   ', '18, 0     ', 1, ',cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matfla ... (726 characters truncated) ...                                                                                                                                                      ', 'cicid                                                                                                                                                 ... (726 characters truncated) ...                                                                                                                                                      ', 1207, "Invalid digit, Value 'c', Pos 0, Type: Decimal                                                      ", 0, 0)]

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [17]:
%sql select * from staging_airport LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('00AR', 'closed', 'Newport Hospital & Clinic Heliport', '237', 'NA', 'US', 'US-AR', 'Newport', '', '', '', '-91.254898, 35.6087'),
 ('00CN', 'heliport', 'Kitchen Creek Helibase Heliport', '3350', 'NA', 'US', 'US-CA', 'Pine Valley', '00CN', '', '00CN', '-116.4597417, 32.7273736'),
 ('00CO', 'closed', 'Cass Field', '4830', 'NA', 'US', 'US-CO', 'Briggsdale', '', '', '', '-104.344002, 40.622202'),
 ('00FA', 'small_airport', 'Grass Patch Airport', '53', 'NA', 'US', 'US-FL', 'Bushnell', '00FA', '', '00FA', '-82.21900177001953, 28.64550018310547'),
 ('00ID', 'small_airport', 'Delta Shores Airport', '2064', 'NA', 'US', 'US-ID', 'Clark Fork', '00ID', '', '00ID', '-116.21399688720703, 48.145301818847656'),
 ('00PN', 'small_airport', 'Ferrell Field', '1301', 'NA', 'US', 'US-PA', 'Mercer', '00PN', '', '00PN', '-80.211111, 41.2995'),
 ('00WN', 'small_airport', 'Hawks Run Airport', '2900', 'NA', 'US', 'US-WA', 'Asotin', '00WN', '', '00WN', '-117.2490005493164, 46.25'),
 ('01CA', 'heliport', 'Lugo Substation Heliport', '3733', 'NA', 'US', 'US-CA', 'Hesperia', '01CA', '', '01CA', '-117.370058745, 34.368240591699994'),
 ('01GA', 'heliport', 'Medical Center Heliport', '319', 'NA', 'US', 'US-GA', 'Columbus', '01GA', '', '01GA', '-84.9791030883789, 32.47930145263672'),
 ('01ID', 'small_airport', 'Lava Hot Springs Airport', '5268', 'NA', 'US', 'US-ID', 'Lava Hot Springs', '01ID', '', '01ID', '-112.031998, 42.6082')]

In [27]:
%sql select COUNT(*) from staging_i94 WHERE i94port IS NULL;

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

In [22]:
%sql select * from staging_i94 LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('17.0', '2016.0', '4.0', '101.0', '101.0', 'NYC', '20545.0', '1.0', 'MA', '20567.0', '4.0', '2.0', '1.0', '20160401', '', '', 'O', 'O', '', 'M', '2012.0', '09302016', '', '', 'AA', '92468463130.0', '00199', 'B2'),
 ('27.0', '2016.0', '4.0', '101.0', '101.0', 'BOS', '20545.0', '1.0', 'MA', '20549.0', '58.0', '1.0', '1.0', '20160401', 'TIA', '', 'G', 'O', '', 'M', '1958.0', '04062016', 'M', '', 'LH', '92478763830.0', '00422', 'B1'),
 ('36.0', '2016.0', '4.0', '101.0', '101.0', 'NYC', '20545.0', '1.0', 'NJ', '20561.0', '37.0', '2.0', '1.0', '20160401', 'TIA', '', 'G', 'O', '', 'M', '1979.0', '09302016', 'M', '', 'TK', '92506258230.0', '00001', 'B2'),
 ('48.0', '2016.0', '4.0', '101.0', '117.0', 'NYC', '20545.0', '1.0', 'NY', '20572.0', '68.0', '2.0', '1.0', '20160401', 'FLR', '', 'G', 'O', '', 'M', '1948.0', '09302016', 'M', '', 'AA', '92473604830.0', '00199', 'B2'),
 ('56.0', '2016.0', '4.0', '102.0', '102.0', 'NYC', '20545.0', '1.0', 'NY', '20549.0', '49.0', '2.0', '1.0', '20160401', '', '', 'G', 'O', '', 'M', '1967.0', '06292016', 'F', '', 'KL', '55446650533.0', '00641', 'WT'),
 ('72.0', '2016.0', '4.0', '103.0', '103.0', 'ATL', '20545.0', '1.0', 'GA', '20554.0', '55.0', '2.0', '1.0', '20160401', '', '', 'G', 'O', '', 'M', '1961.0', '06292016', 'M', '', 'LH', '55428013833.0', '00444', 'WT'),
 ('81.0', '2016.0', '4.0', '103.0', '103.0', 'BOS', '20545.0', '1.0', 'MA', '20550.0', '52.0', '2.0', '1.0', '20160401', '', '', 'O', 'O', '', 'M', '1964.0', '06292016', '', '', 'LH', '55431242233.0', '00422', 'WT'),
 ('89.0', '2016.0', '4.0', '103.0', '103.0', 'CLT', '20545.0', '1.0', 'FL', '20553.0', '50.0', '2.0', '1.0', '20160401', '', '', 'G', 'O', '', 'M', '1966.0', '06292016', 'F', '', 'AA', '55429087133.0', '00731', 'WT'),
 ('97.0', '2016.0', '4.0', '103.0', '103.0', 'DAL', '20545.0', '1.0', 'TX', '20560.0', '23.0', '2.0', '1.0', '20160401', '', '', 'G', 'O', '', 'M', '1993.0', '06292016', 'M', '', 'BA', '55450569233.0', '00193', 'WT'),
 ('106.0', '2016.0', '4.0', '103.0', '103.0', 'DET', '20545.0', '1.0', 'MI', '20556.0', '61.0', '2.0', '1.0', '20160401', '', '', 'G', 'O', '', 'M', '1955.0', '06292016', 'F', '', 'LH', '55426242833.0', '00442', 'WT')]

In [54]:
%%time
%%sql
SELECT *
FROM braziliansinairports
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.
CPU times: user 801 Âµs, sys: 4.28 ms, total: 5.08 ms
Wall time: 5.96 s

[('Halali', '-19.0285', '16.4585', '1'),
 ('San Miguel de TucumÃƒÂ¡n', '-26.8409', '-65.104897', '7'),
 ('Savannah', '32.12760162', '-81.20210266', '12'),
 ('Dallas', '32.847099', '-96.851799', '4231'),
 ('Santa Ana', '33.67570114', '-117.8679962', '7'),
 ('Palm Springs', '33.8297004699707', '-116.50700378417969', '1565'),
 ('Ruse', '43.6948013306', '26.056699752800004', '3'),
 ('municipality', 'lat', 'lon', 'count'),
 ('Port BergÃƒÂ©', '-15.584286', '47.623587', '249'),
 ('Dourados', '-22.2019', '-54.926601', '2')]

In [56]:
%sql SELECT COUNT(*) FROM braziliansinairports WHERE municipality IS NULL;

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

In [57]:
%sql SELECT COUNT(*) FROM braziliansinairports WHERE lat IS NULL OR lon IS NULL;

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

In [59]:
%sql SELECT COUNT(*) AS rows FROM braziliansinairports;

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(111,)]

In [60]:
%sql SELECT COUNT(*) AS rows FROM staging_i94;

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(3096314,)]

In [62]:
%sql SELECT COUNT(*) AS rows FROM staging_airport;

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(55076,)]

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

The final list of columns on the processed dataframe is:
* municipality: the municipality in which arrivals from brazil took place
* lat: the latitude of the municipality
* lon: the longitude of the municipality
* count: the count of arrivals from brazil in an airport in said municipality

a few other columns were also extremely important for joining tables and reaching that conclusion, such as:
* i94port: the i94 port of entry for the unit of immigrant from the brazil in the provided i94 US National Tourism and Trade Office [dataset](https://travel.trade.gov/research/reports/i94/historical/2016.html).
* iata_code: the provided airport codes from this [github](https://datahub.io/core/airport-codes#data)

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.